{include file="header.html"}
        <div class="content" id="content">
            {include file="home/main.html"}
        </div>

        <div class="sidebar" id="sidebar">
            {include file="profile_box.html"}
            {include file="ad/home.html"}
            <section class="node-list">
                <h3>{$lang.hotnodes}</h3>
                <span><a href="">{if $ad}{$ad}{/if}</a></span>
                <ul>
                    {foreach from=$hot_nodes item=n}<li><a href="/node/{$n.node_slug}" title="{$n.node_name}">{$n.node_name}</a></li>
                    {/foreach}  
                </ul>
            </section>

            <section class="node-list">
                <h3>{$lang.newnodes}</h3>
                <span><a href=""></a></span>
                <ul>
                    {foreach from=$lates_nodes item=n}<li><a href="/node/{$n.node_slug}" title="{$n.node_name}">{$n.node_name}</a></li>
                    {/foreach} 
                </ul>
            </section>
            {if $show_status}
            <section class="site-status">
                <h3>{$lang.status}</h3>
                <dl>
                    <dt>{$lang.allmembers}</dt><dd><strong>{$status.user_no}</strong></dd>
                    <dt>{$lang.alltopics}</dt><dd><strong>{$status.post_no}</strong></dd>
                    <dt>{$lang.allcomments}</dt><dd><strong>{$status.comment_no}</strong></dd>
                </dl>
                <span class="box-footer rss"><a href="/feed">{$lang.rss}</a></span>
            </section>
            {/if}
        </div>

{include file="footer.html"}