 <div class="box">
    <nav class="site-tab">
    <ul>
        <li {if !isset($smarty.get.tab) or $smarty.get.tab==='all'}class="current"{/if}><a href="/?tab=all" title="{$_['all topics']}{$_['topics']}">{$_['all topics']}</a></li>
        <li {if isset($smarty.get.tab) and $smarty.get.tab==='hot'}class="current"{/if}><a href="/?tab=hot" title="{$_['hot topics']}">{$_['hot topics']}</a></li>
        {if $is_login}
        <li {if isset($smarty.get.tab) and $smarty.get.tab==='following-node'}class="current"{/if}><a href="/?tab=following-node" title="{$_['following nodes']}">{$_['following nodes']}</a></li>
        <li {if isset($smarty.get.tab) and $smarty.get.tab==='following-member'}class="current"{/if}><a href="/?tab=following-member" title="{$_['following users']}">{$_['following users']}</a></li>
        {/if}
    </ul>
    {if $is_login and !$is_mobile}<a id="add-topic" class="track-home-add-topic" href="/node?for=create_topic">+{$_['create a topic']}</a>{/if}
    </nav>
    {if isset($links)&&is_array($links)}
        <div class="site-sub-tab">
            <span class="triangle">&diams;</span>
        {foreach from=$links item=link}
            <a href="/node/{$link.node_slug}">{$link.node_name}</a>
        {/foreach}
        </div>
    {/if}
    {include file="topic_list.html"}
    <span class="box-footer"><a href="/t/recent" class="more" title="{$_['more new topics']}" data-title="{$_['more new topics']}">»{$_['more new topics']}</a></span>
</div>
{include file="node_list.html"}