@charset "UTF-8";
/* ==settings
--------------------------------------------------*/
::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  height: auto;
  -webkit-border-radius: 20px; }
::-webkit-scrollbar-thumb:horizontal {
  background-color: #885c5c;
  height: 6px;
  -webkit-border-radius: 20px; }

::-webkit-scrollbar {
  height: 6px;
  width: 5px;
  background-color: #dbdbdb;
  -webkit-border-radius: 20px;
  border-left: 1px solid #ececec; }

::selection {
  background: #e82a73;
  color: #fff;
  /* Safari and Opera */ }

::-moz-selection {
  background: #e82a73;
  color: #fff;
  /* Firefox */ }

.editable-box input, .editable-box textarea {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.label {
  background: #e82a73;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  text-shadow: none;
  padding: 0 1px; }

@font-face {
  font-family: icon;
  src: url("./font/entypo.eot");
  /* IE9 Compat Modes */
  src: url("./font/entypo.eot") format("embedded-opentype"), url("./font/entypo.woff") format("woff"), url("./font/entypo.ttf") format("truetype"), url("./font/entypo.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: icon;
  font-size: 4em;
  margin-right: 5px;
  color: #ccc;
  cursor: pointer; }
  .icon:hover {
    color: #e82a73; }

.icon-list {
  position: relative;
  margin: 10px;
  height: 25px;
  overflow: hidden; }
  .icon-list ul {
    position: absolute;
    left: 0;
    top: -26px; }
    .icon-list ul li {
      float: left;
      margin-right: 10px; }

.rss-icon {
  width: 12px;
  height: 12px;
  font-size: 25px;
  display: block; }

/* ==topic list
-----------------------------------------------------------------------------------*/
.topic-list {
  clear: both; }
  .topic-list li {
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    position: relative;
    -webkit-transition: border 1s ease-out; }
    .topic-list li:last-child {
      border: none; }
    .topic-list li:hover {
      background: #f5f5f5; }
      .topic-list li:hover > span a {
        background: #e82a73; }
  .topic-list img {
    float: left;
    margin-right: 15px;
    border-radius: 4px; }
  .topic-list li p {
    font-size: 12px;
    /*font-weight:bold;*/
    word-wrap: break-word;
    word-break: normal; }

.user-topic-list li p {
  margin-left: 0;
  margin-right: 55px; }

.topic-list li p span {
  margin: 0 5px;
  color: #999; }
  .topic-list li p span::before {
    content: "\2022";
    margin-right: 5px;
    color: #CCC; }
.topic-list li:last-child:hover {
  border: none; }

a.post-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #222;
  text-shadow: 0 1px 0 #fefefe; }
  a.post-title:hover {
    color: #4D5256;
    text-decoration: underline;
    text-shadow: 0 1px 0 #fff; }

a.small-title {
  font-size: 12px; }

.topic-list span.last-reply {
  height: 16px;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 25px; }

a.post-cm-count {
  color: #FFF;
  font-weight: bold;
  background: #aab0c6;
  padding: 1px 8px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  a.post-cm-count:visited {
    background-color: #e5e5e5; }
  a.post-cm-count:hover {
    background: #e82a73;
    color: #fff; }
a.my-post {
  background: #ccc; }
  a.my-post:visited {
    background: #bbb; }
  a.my-post:hover {
    background: #e82a73; }
a.post-node {
  font-size: 12px;
  color: #000;
  margin: 0 10px 0 0; }
  a.post-node:hover {
    color: #777; }
a.post-author {
  color: #888; }
  a.post-author:hover {
    color: #385F8A; }

/* ==comment list 
-----------------------------------------------------------------------------------*/
.cm-order {
  position: absolute;
  right: 15px;
  top: 10px; }

.mobile .cm-order {
  right: 5px; }

.cm-list {
  width: 100%; }
  .cm-list li {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    width: 100%;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #ececec;
    min-height: 50px;
    height: auto;
    clear: both;
    overflow: hidden;
    position: relative; }
    .cm-list li > .floor {
      -webkit-transition: all 300ms ease-in;
      position: absolute;
      top: 15px;
      right: 5px;
      font-size: 50px;
      color: #ececec;
      opacity: 0.3;
      z-index: 0; }
    .cm-list li:hover > .floor {
      color: #ccc;
      opacity: 1.0;
      top: 10px;
      right: 10px; }
    .cm-list li:hover a.reply {
      display: inline; }
  .cm-list .is-author {
    position: absolute;
    top: 0;
    right: 10px;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: #e82a73 #e82a73 white white;
    opacity: 0.6; }
    .cm-list .is-author span {
      display: block;
      position: relative;
      top: -18px;
      right: -2px;
      color: #fff;
      font-size: 12px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
  .cm-list .s-avatar {
    position: absolute;
    top: 43px;
    left: 43px; }
    .cm-list .s-avatar img {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      opacity: 0.8; }
  .cm-list li:last-child {
    border: none; }
  .cm-list img.l-avatar {
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .cm-list p {
    overflow: hidden;
    width: 560px;
    font-size: 14px;
    color: #000;
    line-height: 1.8em;
    word-wrap: break-word;
    word-break: normal; }
    .cm-list p span {
      line-height: 20px; }
    .cm-list p .user-name {
      color: #808080;
      font-weight: bold; }
      .cm-list p .user-name:hover {
        color: #385F8A; }

a.at-member {
  color: #aaa; }

span.time-ago {
  color: #bbb;
  font-size: 10px;
  margin-left: 15px; }

a.reply {
  width: 30px;
  background: url(../img/reply.png) no-repeat;
  text-indent: -9999px;
  display: none;
  position: absolute;
  right: 50px;
  top: 10px;
  color: #999;
  font-size: 12px; }

#no-reply {
  text-align: center; }

.comment-content img {
  max-width: 600px; }

/* == tipsy
-------------------------------------------------------------------*/
.tipsy {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 100000; }
  .tipsy img {
    max-width: 100px; }

.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 400px;
  padding: 5px 8px 4px 8px;
  text-align: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.tipsy-content {
  line-height: 20px; }

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000; }

.tipsy-arrow-n {
  border-bottom-color: #000; }

.tipsy-arrow-s {
  border-top-color: #000; }

.tipsy-arrow-e {
  border-left-color: #000; }

.tipsy-arrow-w {
  border-right-color: #000; }

.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent; }

.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent; }

/* ==member info
-----------------------------------------------------------------------------------*/
.member-info {
  padding-bottom: 10px; }
  .member-info h2 {
    margin-bottom: 10px; }
  .member-info img {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .member-info img:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
  .member-info span.user-name {
    font-size: 22px;
    font-weight: bold;
    color: #000; }
  .member-info small {
    display: block;
    color: #ccc;
    margin-top: 10px; }
  .member-info ul {
    overflow: hidden; }
  .member-info ul li {
    width: 250px;
    float: left;
    padding: 5px 5px 5px 0; }
  .member-info .member-info-wrap {
    overflow: hidden;
    margin-bottom: 10px; }

.follow-user {
  position: absolute;
  top: 10px;
  right: 15px; }
  .follow-user a {
    margin-right: 5px; }

/* ==profile box 
-----------------------------------------------------------------------------------*/
.profile-box {
  padding: 10px 0 0 10px; }
  .profile-box img {
    float: left;
    margin-right: 10px;
    border-radius: 24px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .profile-box img:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
  .profile-box ul {
    overflow: hidden; }
  .profile-box li {
    padding-bottom: 10px; }
    .profile-box li ul {
      width: 248px;
      border-bottom: 1px solid #ececec;
      overflow: hidden;
      padding-bottom: 10px; }
      .profile-box li ul a {
        color: #999;
        font-size: 12px; }
      .profile-box li ul li {
        width: 30%;
        height: 30px;
        float: left;
        border-right: 1px solid #ececec;
        text-align: center;
        overflow: hidden; }
        .profile-box li ul li:last-child {
          border: none; }
        .profile-box li ul li:hover {
          background: #ececec;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px; }
          .profile-box li ul li:hover > a {
            color: #666; }
  .profile-box span.count-no {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #778087; }

span.count-no:hover {
  color: #385F8A; }

span.user-name {
  font-size: 16px; }
  span.user-name a {
    color: #555; }

.profile-box span.user-name {
  line-height: 48px; }

a.message-notice {
  color: #999;
  font-size: 12px; }
  a.message-notice:hover {
    color: #666; }
  a.message-notice em {
    margin: 0 5px;
    font-style: normal; }

.unread-notice {
  font-weight: bold; }

/* ==header
----------------------------------------------------*/
#header {
  width: 100%;
  height: 40px;
  background: rgba(33, 33, 33, 0.85);
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 10px #666; }
  #header h1 {
    text-indent: -9999px;
    width: 112px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: left; }
  #header ul > li {
    height: 40px;
    -webkit-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in; }
    #header ul > li.icon-item {
      padding: 0 8px;
      position: relative;
      width: 20px; }
      #header ul > li.icon-item:hover > ul {
        display: block; }
      #header ul > li.icon-item .icon {
        position: absolute;
        top: -20px;
        color: #fff; }
      #header ul > li.icon-item > ul {
        display: none;
        height: 60px;
        width: 120px;
        position: absolute;
        left: -84px;
        top: 40px;
        z-index: 999;
        overflow: hidden;
        padding: 2px 0;
        background: rgba(33, 33, 33, 0.85);
        -webkit-border-radius: 0px 0px 3px 3px;
        border-radius: 0px 0px 3px 3px; }
        #header ul > li.icon-item > ul > li {
          height: 30px;
          display: block;
          -webkit-transition: none; }
        #header ul > li.icon-item > ul a {
          width: 120px;
          display: inline-block;
          line-height: 30px; }
    #header ul > li > a {
      display: block;
      line-height: 40px; }
    #header ul > li:hover {
      background: #222; }

.header-wrap {
  width: 1000px;
  height: 40px;
  margin: 0 auto; }

#logo {
  width: 112px;
  height: 23px;
  display: block;
  background: url(../img/logo.png) no-repeat;
  margin-top: 9px;
  overflow: hidden; }

.search {
  width: 276px;
  float: left;
  margin-left: 20px;
  margin-top: 3px; }

input[type='search'] {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
  border-radius: 3px;
  width: 276px;
  -webkit-appearance: none;
  border: none;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  background: #ccc; }
  input[type='search']:hover {
    background: #ececec; }
  input[type='search']:focus {
    background: #F1F4F2; }

#search-button {
  display: none; }

.site-nav ul {
  float: right; }
  .site-nav ul > li:nth-child(2) > a {
    text-transform: capitalize; }
.site-nav li {
  float: left; }
  .site-nav li a {
    color: #fff;
    padding: 0 6px;
    line-height: 40px;
    font-size: 14px; }
    .site-nav li a:hover {
      color: #ccc;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2); }
.site-nav .msg-count, .site-nav .msg-tip {
  display: none;
  color: #fff;
  margin-left: 5px;
  padding: 0 5px;
  line-height: 17px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #e82a73; }
.site-nav #mobile-msg a {
  text-align: center; }
.site-nav .msg-tip {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center; }

/* ==footer 
-----------------------------------------------------------------------------------*/
.footer-wrap {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  padding-bottom: 10px; }

#footer {
  width: 960px;
  margin: 0 auto;
  height: 100px;
  clear: both;
  text-shadow: 0 1px 0 #fff; }
  #footer p {
    display: block;
    clear: both; }
    #footer p.footer-text {
      padding-left: 10px;
      margin-top: 10px; }
  #footer ul {
    float: left;
    margin-top: 15px; }
  #footer li {
    float: left;
    border-right: 1px solid #ececec; }
    #footer li:last-child {
      border: none; }
    #footer li a {
      color: gray;
      font-weight: bold;
      padding: 0 10px;
      text-shadow: 0 1px 0 #fff; }
      #footer li a:hover {
        text-decoration: underline; }

.center-txt {
  text-align: center; }

/* == login box
----------------------------------------------------*/
.login-box {
  text-align: center;
  padding-bottom: 10px; }
  .login-box h2 {
    text-align: left;
    color: #000;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px; }

.register-button {
  color: #e82a73;
  color: #fff;
  background: #e82a73;
  padding: 4px 3px;
  width: 120px;
  margin: 0 auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: block;
  /*border: 1px solid #999;*/
  margin-bottom: 10px;
  margin-top: 10px; }
  .register-button:hover {
    text-decoration: underline;
    color: #efefef; }

.login-box span {
  color: #000; }
  .login-box span a {
    margin-left: 5px; }

/* ==register form
-----------------------------------------------------------------------------------*/
.register-form {
  margin-top: 20px; }
  .register-form li {
    padding: 0 0 10px 0; }
  .register-form small {
    display: block;
    margin-left: 90px;
    padding-top: 10px;
    font-size: 12px; }
  .register-form label {
    width: 80px;
    float: left;
    text-align: right;
    color: #000;
    margin-right: 10px; }
  .register-form input {
    width: 250px;
    padding: 5px; }

textarea {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

input {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  #width: 320px;
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ccc; }
  input:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none; }

textarea:focus {
  border: 1px solid rgba(128, 128, 160, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  outline: none; }

.register-form input.button {
  width: auto;
  font-size: 12px;
  margin-left: 90px; }

/* == form
------------------------------------------------------------------------------------------*/
.form li {
  margin: 10px;
  width: 100%; }
.form ul.radio-list {
  overflow: hidden; }
  .form ul.radio-list:after {
    clear: both; }
  .form ul.radio-list li {
    width: 100px;
    float: left;
    margin: 0 0 10px 0;
    overflow: hidden; }
.form label {
  width: 150px;
  float: left;
  color: #000;
  text-align: right;
  margin-right: 15px;
  font-size: 14px; }
  .form label.inline-label {
    margin: 0;
    text-align: left;
    float: none;
    width: auto;
    font-size: 12px; }
.form input, .form textarea {
  padding: 3px;
  font-size: 14px;
  border: 1px solid #CCC;
  width: 320px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti; }
.form input {
  padding: 6px 3px; }
  .form input.radio {
    width: 20px; }

.big-form label {
  display: block; }
.big-form input {
  display: block; }

textarea, .form textarea {
  resize: vertical;
  height: 160px; }

.avatar-info {
  text-align: center; }
  .avatar-info p {
    margin-top: 15px; }
  .avatar-info form {
    margin: 20px 0; }

input::-webkit-input-placeholder {
  font-size: 12px; }
input:-moz-placeholder {
  font-size: 12px; }
input:-ms-input-placeholder {
  font-size: 12px; }

input:focus::-webkit-input-placeholder {
  color: #ececec; }
input:focus:-moz-placeholder {
  color: #ececec; }
input:focus:-ms-input-placeholder {
  color: #ececec; }

.message-form label {
  width: 24px;
  font-size: 12px;
  color: #666; }
.message-form textarea {
  height: 100px; }

.form .small-button {
  width: 80px;
  margin-right: 20px; }

.cancel {
  padding-right: 15px; }

.aui_content .m-list p {
  padding-right: 0; }

.aui_content .m-list p span.time {
  color: #aaa; }

.aui_close:hover {
  -webkit-transform: rotate(180deg); }

.cancel-send {
  cursor: pointer; }

.form-error {
  color: #e82a73; }

.msg-error {
  float: left;
  margin-left: 38px;
  display: none; }

/**
* main.css
* @author airyland <i@mao.li>
*/
/* == global
---------------------------------------------------*/
body {
  font-size: 13px;
  background-color: #e1dad0;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
  color: #999;
  padding-top: 40px;
  -webkit-backface-visibility: hidden; }

a {
  color: #778087; }
  a.more {
    font-size: 12px;
    padding-left: 10px; }
  a:hover {
    color: #385F8A; }

h3, h2 .title, h4.title {
  font-weight: normal;
  font-size: 12px;
  color: #999;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #ececec;
  background: url(../img/box_title_bg.png) repeat-x; }

h2 .title {
  color: #666; }

.hidden {
  display: none; }

.up-arrow {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px; }

.error {
  color: #ED4E8B; }

.mobile {
  color: #ccc; }

span.more {
  position: absolute;
  right: 15px;
  top: 10px; }
  span.more a {
    font-size: 12px; }

.center-box, .center-txt {
  text-align: center; }

.vivid-txt {
  color: #e82a73; }

.normal-form {
  margin: 10px 0; }
  .normal-form label {
    color: #000;
    margin-right: 15px; }
  .normal-form .txt-input {
    width: 320px;
    padding: 5px; }
  .normal-form .small-submit {
    margin-left: 10px;
    color: #fff;
    background: #e82a73;
    border: none;
    padding: 5px 10px; }

/* ==site tab
---------------------------------------------------*/
.site-tab {
  background: url(../img/box_title_bg.png);
  padding: 8px 10px 10px 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  position: relative; }
  .site-tab ul {
    overflow: hidden; }
    .site-tab ul li {
      float: left;
      padding: 3px;
      margin-right: 5px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px; }
      .site-tab ul li:hover {
        background: #ececec; }
      .site-tab ul li.current {
        background: #e82a73;
        color: #fff; }
        .site-tab ul li.current a {
          text-shadow: none;
          color: #fff; }
      .site-tab ul li a {
        text-shadow: 0 1px 0 #fefefe;
        padding: 5px 5px; }
        .site-tab ul li a:hover {
          text-decoration: underline; }

.bfc {
  overflow: hidden; }

.site-sub-tab {
  width: 100%;
  position: relative;
  border: 1px solid #ececec;
  clear: both;
  margin-top: 5px;
  padding: 5px;
  background: #ececec;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .site-sub-tab a {
    padding-right: 5px; }
  .site-sub-tab .triangle {
    position: absolute;
    color: #ececec;
    top: -10px;
    left: 80px; }

#add-topic {
  position: absolute;
  right: 10px;
  top: 12px; }

.wrap {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  min-height: 622px; }

.index-content, .box, .article-box, .profile-box, .sidebar section {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* FF3.5+ */
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* Saf3.0+, Chrome */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* Opera 10.5, IE9 */
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 20px; }

.article-box {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.box {
  position: relative; }
  .box .box-footer {
    width: 100%;
    display: block;
    clear: both;
    padding: 5px;
    padding-top: 10px;
    border-top: 1px solid #ececec; }
  .box hr {
    color: #ececec;
    background: #ececec;
    border: none;
    margin: 13px 0 0 0; }

.block-box {
  display: block; }

.content {
  width: 70%;
  float: left; }

.sidebar {
  width: 268px;
  float: right;
  overflow: hidden; }

small {
  color: #999;
  font-size: 12px; }

.ana-form small {
  float: right;
  margin: 0 15px 5px 0; }

#post-box {
  resize: vertical;
  width: 668px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px; }

.post-box {
  padding-bottom: 10px; }

#post-button {
  float: right;
  margin-right: 15px;
  margin-top: 5px; }

.single-column {
  width: 700px;
  height: 250px;
  margin: 0 auto;
  margin-top: 100px; }

/* ==node list
-----------------------------------------------------------------------------------*/
.node-list {
  position: relative; }
  .node-list span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px; }
  .node-list ul {
    padding-left: 10px;
    padding-top: 15px; }
  .node-list li {
    float: left;
    margin: 0 5px 10px 0;
    height: 21px; }
    .node-list li a {
      background: #f5f5f5;
      border: 1px solid #e4e4e4;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      padding: 4px 10px;
      font-size: 13px;
      text-shadow: 0 1px 0 #fff; }
      .node-list li a:hover {
        background: #e4e4e4;
        color: #666; }

/* ==breadcrumb
----------------------------------------------------------------------------------*/
.breadcrumb {
  font-size: 14px;
  color: #000;
  padding: 10px;
  position: relative; }
  .breadcrumb a:after {
    margin: 0 5px;
    content: "\00BB";
    color: #ccc; }
  .breadcrumb a:last-child:after {
    content: " "; }

p.node-count {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
  font-size: 12px; }
  p.node-count em {
    font-style: normal;
    font-weight: bold;
    margin: 0 5px;
    color: #999; }
  p.node-count a {
    margin-right: 10px; }

p.node-intro {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 80%; }
p.node-create-button {
  padding-left: 10px;
  line-height: 20px;
  position: absolute;
  right: 10px;
  top: 45px; }

/* ==site status
----------------------------------------------------------------------------------*/
.site-status dl {
  margin-top: 5px;
  overflow: hidden;
  margin-bottom: 10px; }
.site-status dt {
  width: 100px;
  float: left;
  clear: left;
  display: inline;
  text-align: right;
  margin-right: 10px;
  padding: 5px 0; }
.site-status dd {
  float: left;
  display: inline;
  color: #778087;
  padding: 5px 0; }
.site-status span.box-footer {
  width: 100%;
  display: block;
  clear: both;
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid #ececec; }

/* ==post info 
-----------------------------------------------------------------------------------*/
.post-info {
  position: relative; }
  .post-info h2 {
    width: 550px;
    word-wrap: break-word;
    word-break: normal;
    font-size: 24px;
    line-height: 150%;
    font-weight: normal;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px; }
  .post-info footer {
    float: right;
    padding-bottom: 10px;
    background: #f7f7f7; }
  .post-info header {
    position: relative;
    border-bottom: 1px solid #ececec; }
    .post-info header span {
      font-size: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: block; }
    .post-info header a.post_author {
      position: absolute;
      right: 20px;
      top: -25px; }
      .post-info header a.post_author img {
        border-radius: 5px; }

.topic-footer {
  width: 100%;
  border-top: 1px solid #eee;
  overflow: hidden; }

.post-footer-bar {
  float: right;
  padding-top: 10px; }
  .post-footer-bar li {
    float: left;
    margin-right: 10px; }
  .post-footer-bar a {
    font-size: 12px;
    color: #fff;
    background: #ccc;
    padding: 0 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .post-footer-bar a:hover {
      background-color: #667;
      color: #fff; }

.post-content {
  line-height: 25px;
  font-size: 14px;
  color: #000;
  margin: 10px 10px 20px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal; }
  .post-content img {
    max-width: 600px; }

.title {
  text-align: left;
  font-weight: normal;
  display: block;
  height: 38px;
  width: 100%;
  font-size: 14px;
  line-height: 38px;
  padding-left: 15px;
  border-bottom: 1px solid #ececec;
  color: #000; }

span.email {
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px 2px 15px;
  font-size: 12px;
  background: url("../img/email.gif") no-repeat 2px center; }

a.fav-link, a.unfav-link {
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  padding: 0;
  display: inline-block;
  background: white url(../img/red_heart.gif) no-repeat; }
a.fav-link:hover {
  background-color: #fff; }
a.unfav-link {
  background-image: url(../img/gray_heart.gif); }
  a.unfav-link:hover {
    background-color: #fff; }

/* ==comment box
-----------------------------------------------------------------------------------*/
.cm-box form {
  margin-top: 10px;
  margin-bottom: 10px; }
.cm-box textarea {
  width: 668px;
  height: 120px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px; }
.cm-box .box-footer {
  padding-left: 15px; }

.post-form textarea {
  width: 668px;
  height: 120px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px; }

#cm-button {
  margin: 10px;
  background: #ed4e8b;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  width: 320px; }
  #cm-button:hover {
    background: #e82a73; }

#cm-form small {
  border: 1px solid #ececec; }

.back-to-top {
  position: absolute;
  right: 10px;
  top: 15px; }

/* ==post box
-----------------------------------------------------------------------------------*/
.post-form textarea.post-title {
  height: 120px;
  resize: none; }
.post-form textarea.post-content {
  height: 240px;
  resize: vertical; }
.post-form label {
  display: block;
  font-size: 14px;
  float: none;
  margin: 5px;
  padding: 5px 0; }
.post-form li {
  margin: 10px; }

/* == github
------------------------------------------------------------------------------------*/
.github-list li {
  padding: 5px 0;
  border-bottom: 1px solid #ececec; }
  .github-list li:last-child {
    border: none; }
.github-list p {
  padding-left: 15px;
  position: relative; }
.github-list .github-lang {
  position: absolute;
  right: 10px;
  top: 0;
  font-weight: bold; }
.github-list a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px; }

/* == post guide
------------------------------------------------------------------------------------------*/
.post-guide {
  color: #000; }
  .post-guide ul {
    margin: 10px; }
  .post-guide h4 {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px; }

/* == nodes list
------------------------------------------------------------------------------------------*/
.nodes-list > li {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #ececec;
  position: relative; }
.nodes-list .parent-node {
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  width: 100px;
  height: 14px;
  display: block;
  float: left; }
.nodes-list li ul {
  margin-left: 120px;
  overflow: hidden; }
.nodes-list li li {
  float: left;
  border: none;
  padding: 5px 8px; }
  .nodes-list li li a {
    font-size: 14px; }
.nodes-list li:last-child {
  border: none; }

/* == settings
---------------------------------------------------------------------------------------*/
.avatar-info img {
  border: 1px solid #ececec; }

/* == message list
-----------------------------------------------------------------------------------------*/
.m-list {
  color: #333;
  font-size: 14px; }
  .m-list a {
    padding: 0 5px; }
  .m-list li {
    padding: 10px 10px;
    border-bottom: 1px solid #ececec;
    position: relative; }
    .m-list li:last-child {
      border: none; }
    .m-list li img {
      max-width: 80%;
      display: table-cell; }
  .m-list p {
    line-height: 25px;
    padding-right: 35px;
    word-wrap: break-word; }
    .m-list p span.time {
      padding: 0 5px; }
  .m-list .delete-link {
    color: #e82a73; }

.aui_content .m-list {
  font-size: 12px; }
  .aui_content .m-list li {
    padding: 5px 0; }
  .aui_content .m-list p {
    padding: 0; }

.send-message {
  position: absolute;
  top: 10px;
  right: 15px; }

p.reply-message {
  position: absolute;
  top: 10px;
  right: 15px;
  padding-right: 0; }
  p.reply-message a {
    color: #ccc; }

/* == post-tip
-----------------------------------------------------*/
.post-tip {
  padding: 10px 0 10px 30px;
  border-top: 1px solid #ececec;
  list-style: square;
  margin-top: 10px; }
  .post-tip li {
    padding: 2px;
    color: #ed4e8b; }
    .post-tip li p {
      color: #666; }

/* == node
-------------------------------------------------------*/
.following, .node {
  padding: 10px 0 10px 10px; }

.following li, .node li {
  float: left;
  border: 1px solid #ececec;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.node li.no-favnode, .following li.no-following {
  border: none;
  margin: 0 0 5px 0; }
  .node li.no-favnode a, .following li.no-following a {
    font-size: 12px;
    margin: 0 5px;
    padding: 2px 5px;
    background: #e82a73;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

.following li a, .node li a {
  font-size: 14px; }

.post-count {
  color: #ed4e8b; }

.unfav-node {
  color: #ccc; }
  .unfav-node:hover {
    color: #ed4e8b; }

/* == admin
-------------------------------------------------------*/
.admin-nav a.current {
  color: #e82a73; }

.tools {
  padding-left: 10px; }
  .tools li {
    padding: 5px; }

.admin-sidebar {
  float: left;
  position: fixed; }
  .admin-sidebar li {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ececec; }
    .admin-sidebar li:last-child {
      border: none; }
    .admin-sidebar li a {
      font-size: 14px;
      padding: 15px 5px; }

.delete-node {
  background: none;
  border: none;
  color: #e82a73;
  font-size: 12px; }
  .delete-node:hover {
    text-decoration: underline; }

.box .admin-box-footer {
  padding: 10px 0 0 30px; }

.admin-content {
  float: right; }
  .admin-content section {
    padding-bottom: 15px; }

.status strong {
  font-size: 50px;
  font-weight: normal;
  font-family: arial;
  color: #e82a73;
  display: block; }
.status li {
  float: left;
  width: auto;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 10px; }

.search {
  width: 200px; }

input[type="search"] {
  width: 200px;
  background: #4b494a;
  border: 1px solid #333; }

input.vivid-button, .vivid-button {
  background: #ed4e8b;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  padding: 5px 8px; }

input.vivid-button:hover, .vivid-button:hover {
  background: #e82a73;
  color: #fff; }

.vivid-notice {
  color: #ed4e8b;
  font-weight: bold;
  margin: 0 3px; }

input.left-button {
  float: left;
  margin-right: 15px; }

/* == pagination
-------------------------------------------------------------------*/
.pagination-wrap {
  float: right;
  position: relative;
  left: -50%;
  text-align: left; }

.pagination {
  height: 35px;
  position: relative;
  left: 50%;
  overflow: auto;
  width: 100%; }
  .pagination li {
    float: left;
    height: 35px;
    line-height: 35px;
    display: inline; }
    .pagination li a, .pagination li span {
      padding: 0 5px;
      font-size: 14px; }
  .pagination span.current {
    color: #ed4e8b; }

/* == common list style 
-----------------------------------------------------*/
.list {
  padding: 10px 10px; }
  .list li {
    padding: 0 0 5px 0; }

.small {
  width: 60px; }

.no-repo {
  margin: 5px 15px; }

/* == dialog
----------------------------------------------------*/
.modal .header-wrap, .modal .wrap, .modal .footer-wrap, .blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

/* == loading
---------------------------------------------------*/
#loading {
  position: fixed;
  left: 50%;
  top: -2px;
  z-index: 9999;
  margin-left: -50px;
  width: 100px;
  height: 35px;
  #background: #e82a73;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  display: none; }
  #loading span {
    line-height: 35px;
    display: none; }

/* == Blog
--------------------------------------------------------*/
.tip {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ececec;
  background: #fff;
  position: relative; }
  .tip .arrow1, .tip .arrow2 {
    width: 12px;
    font-family: "SimSun";
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    height: 10px;
    position: absolute;
    top: -9px;
    left: 25px;
    color: #ececec; }
  .tip .arrow2 {
    top: -7px;
    left: 25px;
    color: #fff; }

.blog {
  border: 1px solid #ececec;
  margin: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .blog h4 {
    padding-left: 10px; }

/* tab导航 */
.ui-tab-trigger {
  border-bottom: 1px solid #CCC;
  padding: 5px 10px 0;
  font-size: 0; }

.ui-tab-trigger-item {
  font-size: 14px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 0 10px;
  margin: 0 10px -1px 0;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.1);
  outline-offset: -3px;
  /* firefox 阴影导致焦点框扩大 */
  border-top: 3px solid #F5F5F5;
  _position: relative;
  word-wrap: normal;
  white-space: nowrap; }

.ui-tab-trigger-item:hover {
  border-top-color: #e82a73; }

.ui-tab-trigger-item-current {
  background: #FFF;
  border-style: solid;
  border-width: 3px 1px 1px;
  border-color: #e82a73 #cccccc white;
  box-shadow: none;
  outline-offset: 0; }

.ui-tab-trigger-item-current:hover {
  background: #FFF;
  color: #e82a73; }

#signin-tip {
  color: #e82a73; }

/* ==inline edit
----------------------------------------------------*/
.editable {
  width: 80%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .editable textarea {
    min-height: 40px; }

.node-editable {
  cursor: pointer; }
  .node-editable::before {
    content: '[编辑]';
    margin-right: 10px;
    background: yellow;
    cursor: pointer; }

#home {
  position: fixed;
  bottom: 15px;
  /* right:calc(50% - 500px);
  right:-webkit-calc(50% - 500px);
  right:-moz-calc(50% - 500px); */
  left: 50%;
  margin-left: 500px; }

.long-ago-topic-tip {
  background: #FFF1B4;
  padding: 10px 15px;
  display: none;
  border-bottom: 1px solid #ececec;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  color: #000;
  border-bottom: 1px solid #ddd; }

.node-tip {
  min-height: 60px;
  position: absolute;
  left: 0;
  top: 26px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .node-tip .tip-content {
    position: relative;
    height: 100%; }
    .node-tip .tip-content img {
      float: left; }
    .node-tip .tip-content .arrow1, .node-tip .tip-content .arrow2 {
      position: absolute;
      top: -10px;
      left: 10px;
      font-size: 12px; }
    .node-tip .tip-content .arrow1 {
      color: #ccc; }
    .node-tip .tip-content .arrow2 {
      color: #fff;
      top: -7px; }
    .node-tip .tip-content .node-name {
      padding: 5px;
      font-size: 14px;
      color: #666; }
      .node-tip .tip-content .node-name b {
        font-size: 12px;
        display: inline; }
    .node-tip .tip-content .node-intro {
      padding: 5px; }

#file-upload {
  z-index: 9999;
  position: absolute;
  height: 20px;
  width: 25px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer; }

#preview {
  display: none;
  padding: 10px;
  border-top: 1px solid #ececec; }
  #preview img {
    border: 1px solid #ccc;
    display: block;
    width: 50px;
    height: 50px; }
  #preview ul {
    overflow: hidden; }
  #preview li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative; }
    #preview li .finish {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -12px;
      left: 15px;
      color: green;
      cursor: auto;
      opacity: 0; }
  #preview .upload-progress-wrap {
    width: 100%;
    height: 4px;
    display: block;
    margin-top: 3px;
    background: #ececec;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
  #preview .upload-progress {
    background: green;
    width: 30%;
    height: 4px;
    display: block;
    margin-top: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

.oauth-qq {
  padding: 10px; }
  .oauth-qq > img {
    display: block;
    float: left; }
  .oauth-qq > form {
    padding-left: 20px;
    overflow: hidden; }
    .oauth-qq > form label {
      display: block;
      margin: 5px 0; }
    .oauth-qq > form small {
      display: block;
      color: #e82a73; }
    .oauth-qq > form input {
      margin: 10px 0;
      padding-left: 5px; }
      .oauth-qq > form input.error {
        color: #e82a73; }
    .oauth-qq > form input[type="submit"] {
      background: #e82a73;
      border: none;
      color: #fff;
      padding-left: 0; }

td strong {
  background: #e82a73;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.admin-list {
  color: #000;
  padding: 0 10px 0 0; }

.choose-tip {
  font-size: 16px;
  text-align: center;
  color: #e82a73;
  font-family: 宋体;
  padding: 10px 0;
  background: #fdfdfd;
  border-bottom: 1px solid #e82a73; }

#online {
  background: #e82a73;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  text-shadow: none; }

.topic-list li p.cm-content {
  font-size: 14px;
  color: #000; }

#desktop-notification {
  display: none; }

.oauth {
  min-height: 200px;
  padding: 15px; }
  .oauth h2 {
    color: #666;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px; }
  .oauth .avatar {
    float: left;
    margin-right: 15px; }
  .oauth .oauth-confirm {
    width: 48%;
    float: left;
    border-right: 1px solid #ccc; }
    .oauth .oauth-confirm label {
      display: block;
      padding-bottom: 8px; }
  .oauth .oauth-bind {
    width: 48%;
    float: right; }

.page_form {
  padding: 10px; }
  .page_form label {
    display: block;
    float: none;
    text-align: left;
    margin: 10px 0; }
  .page_form li {
    margin: 0; }
  .page_form input, .page_form textarea {
    width: 99%; }
  .page_form textarea {
    height: 600px; }

.oauth-setting .center-txt {
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid #e82a73; }

#at-view {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin-top: 18px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 120px; }

#at-view .cur {
  background: #e82a73;
  color: white; }

#at-view .cur small {
  color: white; }

#at-view strong {
  color: #3366FF; }

#at-view .cur strong {
  color: white;
  font: bold; }

#at-view ul {
  /* width: 100px; */
  list-style: none;
  padding: 0;
  margin: auto; }

#at-view ul li {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  color: #000;
  /* border-top: 1px solid #C8C8C8; */ }
  #at-view ul li img {
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

#at-view small {
  font-size: smaller;
  color: #777;
  font-weight: normal; }

.mobile .s-avatar {
  display: none; }
.mobile .post-info h2 {
  width: 250px; }
.mobile .top {
  color: #ccc; }
.mobile .register-form small {
  margin-left: 5px; }
.mobile .mobile-avatar {
  margin-top: 5px; }
  .mobile .mobile-avatar img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
.mobile .nodes-list .parent-node {
  width: 70px; }
.mobile .nodes-list li ul {
  margin-left: 80px; }
.mobile .node-count {
  position: static;
  padding-left: 10px; }
.mobile p.node-create-button {
  position: static; }
.mobile .form, .mobile .post-form {
  padding: 5px; }
  .mobile .form .box-footer, .mobile .post-form .box-footer {
    border: none; }
  .mobile .form ul, .mobile .post-form ul {
    overflow: hidden;
    width: 100%; }
    .mobile .form ul li, .mobile .post-form ul li {
      margin: 10px 0;
      padding: 0; }
  .mobile .form label, .mobile .post-form label {
    text-align: left;
    margin-bottom: 5px; }
  .mobile .form input, .mobile .form textarea, .mobile .post-form input, .mobile .post-form textarea {
    width: 95%;
    margin: 0 auto;
    padding: 5px; }
.mobile #footer {
  padding-top: 15px;
  height: auto; }
  .mobile #footer li {
    border: none; }
  .mobile #footer p {
    padding-bottom: 5px;
    text-align: center; }

@media screen and (max-width: 674px) {
  body {
    overflow: hidden; }

  #header h1 {
    width: 90px; }

  .site-nav li a {
    font-size: 12px; }

  #logo {
    width: 80px;
    height: 16px;
    margin-top: 12px;
    background-size: cover;
    line-height: 40px; }

  .search {
    display: none; }

  #footer, .header-wrap, .wrap {
    width: 440px; }

  .content {
    width: 440px;
    margin: 0 auto;
    overflow: hidden;
    float: none; }

  .cm-list li {
    width: 440px; }
  .cm-list p {
    width: 350px; }
    .cm-list p.comment-info {
      width: 280px;
      top: 10px;
      font-size: 10px; }

  .profile-box {
    display: none; } }
@media (min-width: 675px) and (max-width: 960px) {
  .header-wrap, .wrap, .content, #footer {
    width: 90%; }

  .content, .sidebar {
    width: 100%; }

  .profile-box {
    display: none; } }
@media screen and (max-width: 674px) {
  body {
    width: 100%;
    overflow: hidden; }

  #header ul > li > a.home, #header ul > li > a.admin {
    display: none; }

  #footer, .header-wrap, .wrap {
    width: 95%; }

  .content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    float: none; }

  .post-info header a.post_author {
    right: 5px;
    top: -35px; }

  .post-footer-bar > li:first-child {
    display: none; }

  .mobile .cm-box form {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0; }

  #cm-box {
    margin-top: 10px;
    width: 95%; }

  #cm-button {
    width: 295px;
    margin: 0 5px; }

  a.post-title {
    line-height: 16px;
    padding-right: 10px;
    margin-bottom: 10px; }

  .topic-item-main > p:nth-child(1) {
    margin-bottom: 8px; }

  .topic-item-main > p:nth-child(2) {
    display: inline;
    margin-left: 0; }

  .topic-item img {
    width: 30px;
    height: 30px; }

  .topic-list img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 10px; }
  .topic-list li {
    padding-left: 10px; }
    .topic-list li:hover {
      border-color: #e82a73;
      background: #e82a73;
      color: #fff; }
      .topic-list li:hover span {
        color: #fff; }
      .topic-list li:hover a {
        color: #fff;
        text-shadow: none; }

  .topic-list span.last-reply {
    top: 50%;
    right: 5px;
    margin-top: -8px;
    padding: 0;
    #position: static;
    #display: inline; }
    .topic-list span.last-reply a {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      padding: 0 3px; }
      .topic-list span.last-reply a:hover {
        color: #fff; }

  a.post-cm-count, a.my-post {
    padding: 0;
    #background: #fff; }

  a.my-post:visited {
    #background: #fff;
    #color: #ccc; }

  .sidebar {
    width: 100%; }

  .cm-list li {
    width: 100%; }
    .cm-list li > .floor {
      -webkit-transition: none;
      font-size: 12px;
      right: 15px;
      top: 10px;
      color: #666; }
  .cm-list p {
    width: 280px;
    margin-left: 0; }
    .cm-list p.comment-info {
      width: 280px;
      top: 10px;
      font-size: 10px; }
  .cm-list a.reply {
    display: block;
    right: 25px; }

  .mobile .title {
    padding-left: 5px; }

  #cm-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px; }

  .profile-box {
    display: none; } }
