 <ul class="m-list">
            {if $message}
            {foreach from=$message item=m}<li>
                <p{if $m.m_read eq 1} {if !$is_dialog}class="unread-notice"{/if}{/if}><a href="/member/{$m.m_from_username}">{if $m.m_from_username eq $me.user_name}你无聊地    {else}{$m.m_from_username}{/if}</a>{if $m.m_type eq 1}在{elseif $m.m_type eq 2}在回复{elseif $m.m_type eq 3}在创建主题{elseif $m.m_type eq 4}给你发了私信
                    {/if}{if $m.m_type eq 1}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>回复了你{/if}{if $m.m_type eq 2}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>时提到了你{/if}{if $m.m_type eq 3}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>时提到了你{/if} 
                    <span class="time"> {time_ago time=$m.sub.time}</span></p>
                <p {if $is_dialog}style="display:none;"{/if}>{$m.sub.content}</p>
                {if !$is_dialog}<p class="reply-message">{if $m.m_type eq 4}<a href="/messages/send?to={$m.m_from_username}">回复</a>{/if}
                {if isset($smarty.get.type)&&$smarty.get.type!=='pm'} <a href="/api/message/{$m.m_id}/delete?m_id={$m.m_id}" class="delete-link">删除</a>{/if}</p>{/if}
            </li>
            {/foreach}
            {else}
            <li>没有相关消息哦~</li>
            {/if}
</ul>
{include file="pagination.html" with_box=false}
{include file="js/message_form.html"}
