<section class="box">
    <span class="send-message"><a href="/messages/send" id="JS_send_message" class="vivid-button"{if !$is_mobile} data-router="false"{/if}>发送私信</a></span>
    <dl class="ui-tab">
        <dt class="ui-tab-trigger clearfix">  
        <a href="/messages/?type=unread" class="ui-tab-trigger-item {if isset($smarty.get.type)&&($smarty.get.type=='' or $smarty.get.type=='unread')||!isset($smarty.get.type)}ui-tab-trigger-item-current{/if}">未读{if !$is_mobile}消息{/if}(<span class="vivid-notice">{$unread_count}</span>)</a> 
        <a href="/messages/?type=all" class="ui-tab-trigger-item {if isset($smarty.get.type)&&$smarty.get.type=='all'}ui-tab-trigger-item-current{/if}">所有{if !$is_mobile}消息({$all_count}){/if}</a>   
        <a href="/messages/?type=pm" class="ui-tab-trigger-item {if isset($smarty.get.type)&&$smarty.get.type=='pm'}ui-tab-trigger-item-current{/if}">私信{if !$is_mobile}({$pm_count}){/if}</a>    
        </dt>  
    </dl>
   {include file="message/message_list.html"}
</section>