nppBackup
*.bak
/nbproject
/.idea
img/captcha/*.png
img/captcha/*.jpg
/application/cache/db/*
/application/cache/smarty/cache/*.php
/application/cache/smarty/compile/*.php
/application/cache/plugin/*.php
/application/cache/widget/*.php
/application/cache/*.php
/application/logs
*.db
/other
/np-content/cache/*.txt
/np-content/upload/*.png
/css/source/.sass-cache
/wiki