nppBackup
*.bak
/nbproject
/.idea
img/captcha/*.png
img/captcha/*.jpg
/application/cache/db/*
/application/cache/smarty/cache/*.php
/application/cache/smarty/compile/*.php
/application/cache/plugin/*.php
/application/cache/widget/*.php
/application/cache/*.php
/application/logs
/img/avatar/*.png
/img/avatar/l/*.png
/img/avatar/m/*.png
/img/avatar/s/*.png
/img/avatar/l/*.jpg
/img/avatar/m/*.jpg
/img/avatar/s/*.jpg
*.db
/other
/np-content/cache/*.txt
/np-content/backup/*.zip
/np-content/backup/*.sql
/np-content/upload/*.png
/np-content/upload/*.jpg
/css/source/.sass-cache
/wiki
/oauth
/application/config/oauth.php
/application/controllers/test.php
/img/fm/
/img/seedit/