{include file="header.html"}
<div class="content">
   {include file="user/member_main.html"}
</div>
<div class="sidebar">
</div>
        <script type="text/NP-template" id="send-message-template">
            <form class="form  message-form">
                <ul>
                    <li>
                    <label for="send_to">发给</label>
                    <input type="text" id="send_to"/> 
                    </li>
                    <li>
                        <label for="pm_content">内容</label>
                        <textarea>hello</textarea>
                    </li>
                    <li style="text-align:right;">
                        <a href="#" class="cancel">取消</a>
                        <input type="submit" class="vivid-button small-button" value="发送"/>
                    </li>
                </ul>
            </form>
         </script>
{include file="footer.html"}