<div class="box">
	<h2><span class="title">{$u.user_name} 回复的帖子</span></h2>
	<ul class="topic-list  user-topic-list">
        {if $post}
        {foreach from=$post item=p}
        <li class="topic-item topic-1">
            <p>回复了主题：<a class="post-title small-title" href="/t/{$p.post_id}">{$p.post_title}</a></p>
            <p class="cm-content">{$p.cm_content}</p>
            <span class="last-reply">{time_ago time={$p.cm_time}}</span>
        </li>
        {/foreach}
        {else}
        <li>没有最近回复的帖子</li>
        {/if}
    </ul>
</div>
{include file="pagination.html"}