{include file="header.html"}
<div class="content">
    
{if $user_from and (!$me.user_email or !$me.user_pwd)}
    <section class="box oauth-setting">
        <p class="center-txt ">您使用的是<span class="vivid-txt">{$user_from}</span>账号登录，设定{if !$me.user_pwd}密码{/if}{if !$me.user_email}邮箱{/if}后可以直接使用账号密码登录网站</p>
        {if !$me.user_pwd}
        <form class="center-box normal-form">
            <label for="password">密码</label>
            <input class="txt-input" type="text" name="password" id="email">
            <input class="small-submit" type="submit" value="提交">
        </form>
        {/if}
        {if !$me.user_email}
        <form class="center-box normal-form">      
            <label for="email">邮箱</label>
            <input class="txt-input" type="text" name="email" id="email">
            <input class="small-submit" type="submit" value="提交">
        </form>
        {/if}
    </section>
{/if}

    <section class="box">
        <h2><span class="title">{$lang.settings}</span></h2>
        <form action="/api/user/{$me.user_name}/?do=update" method="post" class="form">
            <ul>
                <li>
                    <label for="username">{$lang.username}</label>
                    <input type="text" name="username" id="username" value="{$me.user_name}" disabled required/>
                </li>
                {if $me.user_email}
                <li>
                    <label for="user-email">{$lang.email}</label>
                    <input type="email" id="user-email" name="user-email" value="{$me.user_email}" disabled required/>{if $me.user_email_confirm == 1}已通过验证 {else if $me.user_email_confirm != 1 &&  $me.user_email_confirm_sent ==1 }验证邮件已发送 <a href="/api/user/0/email_confirm?u={$me.user_id}">重新发送</a>{else}邮箱未验证 <a href="/api/user/0/email_confirm?u={$me.user_id}">立即验证</a>{/if}
                </li>
                {/if}
                <li>
                    <label for="user-site">{$lang.website}</label>
                    <input type="url" name="user-site" id="user-site" value="{$me.other.site}"/>
                </li>
                <li>
                    <label for="user-location">{$lang.location}</label>
                    <input type="text"  name="user-location" id="user-location" value="{$me.other.location}"/>
                </li>
                <li>
                    <label for="user-sign">{$lang.sign}</label>
                    <input type="text" id="user-sign" name="user-sign" value="{$me.other.sign}"/>
                </li>
                <li>
                    <label for="user-intro">{$lang.intro}</label>
                    <textarea name="user-intro" id="user-intro" >{$me.other.intro}</textarea>
                </li>
                <li>
                    <label for="douban">豆瓣</label>
                    <input type="text" name="douban" id="twitter" value="{if isset($me.other.douban) && $me.other.douban}{$me.other.douban}{/if}"/>
                </li>
                <li>
                    <label for="weibo">微博</label>
                    <input type="text" name="weibo" value="{if isset($me.other.weibo) && $me.other.weibo}{$me.other.weibo}{/if}"/>
                </li>
                <li>
                    <label for="">&nbsp;</label><input type="submit" value="{$lang.update}" class="vivid-button">
                </li>
            </ul>
        </form>
    </section>


    <section class="box avatar-info" id="avatar">
        <h2><span class="title">{$lang.avatar}</span></h2>
        <p>
            <img src="/img/avatar/l/{$me.user_id}.png?t={$timestamp}" width="73" height="73" onerror="this.src='/img/avatar/l/0.png'" alt="{$me.user_name}">
            <img src="/img/avatar/m/{$me.user_id}.png?t={$timestamp}" onerror="this.src='/img/avatar/m/0.png'" width="48" height="48" alt="{$me.user_name}">
            <img src="/img/avatar/s/{$me.user_id}.png?t={$timestamp}" onerror="this.src='/img/avatar/s/0.png'" width="20" height="20" alt="{$me.user_name}">
        </p>
        <span class="title">上传新头像</span>
        <form action="api/user/0/avatar" method="post" class="form" enctype="multipart/form-data">
            <input type="file" name="avatar" id="" required>
            <br/><br/>
            <input type="submit" value="{$lang.upload}" class="vivid-button"> or <input type="button" id="fetch-gravatar" data-url="{$gravatar}"  value="获取Gravatar头像" class="vivid-button">
        </form>
    </section>

    {if !$me.user_from}
    <section class="box" id="change_pwd">
        <h2><span class="title">{$lang.changePwd}</span></h2>
        <form action="/api/user/0/change_pwd" method="post" class="form">
            <ul>
                <li>
                    <label for="old-pwd">{$lang.oldpwd}</label>
                    <input type="password" name="old-pwd" required />
                </li>
                <li>
                    <label for="new-pwd">{$lang.newpwd}</label>
                    <input type="password" name="new-pwd" required />
                </li>
                <li>
                    <label for="new-pwd2">again</label>
                    <input type="password" name="new-pwd2" required />
                </li>
                <li>
                    <label for="">&nbsp;</label>
                    <input type="submit" value="{$lang.update}" class="vivid-button" />
                </li>
            </ul>
        </form>
    </section>
    {/if}
    {if $is_admin and !$is_mobile}
    <section class="box" id="change_pwd">
        <h2><span class="title">实验功能</span></h2>

        <form action="" method="" class="form">
            <ul>
                <li  id="desktop-notification">
                    <label for="enable-notification">开启桌面提醒</label>
                    <input type="checkbox" id="enable-notification" name=""/><span>(当前浏览器有效)</span>
                </li>
            </ul>
        </form>
    </section>
    {/if}

</div>

<div class="sidebar">
    {include file="profile_box.html"}
</div>
{include file="footer.html"}