{include file="header.html"}
<div class="content box">
<h2><span class="title">发送私信</span></h2>
<form action="/api/user/0/send_pm_message" method="post" class="form">
<ul>
<li>
<label for="touser">接收者</label>
<input type="text" name="touser" id="touser" placehoder="请输入用户名"  value="{if isset($to)}{$to}{/if}" required>
</li>
<li>
<label for="content">内容</label>
<textarea name="content" id="content" placehoder="请输入消息内容" required></textarea>
</li>
<li>
<label>&nbsp;</label>
	<input type="submit" class="vivid-button" value="发送"></li>
</ul>
</form>
</div>
<div class="sidebar">
	{include file="ad/member.html"}
</div>
{include file="footer.html"}