{include file="header.html"}
<div class="content box">
    <nav class="breadcrumb">
        <a href="" title="{$site.name}">{$site.name}</a>
        <a href="/node/{$node.node_slug}" title="">{$node.node_name}</a>
        <a href="" title="创建新主题">创建新主题</a>
    </nav>
    <div>
        <form action="/api/post/add" method="post" class="post-form">
            <ul>
                <li>
                    <input type="hidden" name="node-id" value="{$node.node_id}"/>
                    <label for="post-title">标题</label>
                    <textarea name="post-title" id="post-title" class="post-title" required></textarea>
                </li>
                <li><label for="post-content">内容</label>
                    <textarea name="post-content" id="post-content" class="post-content"></textarea>
                </li>
                <li>
                    <input type="submit" value="创建" class="vivid-button"/>
                </li>
                <li>
                    <span class="box-footer">返回<a href="/node/{$node.node_slug}">{$node.node_name}</a>
                        <a href="/node?for=create_topic">重选发贴节点</a>
                    </span>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="sidebar">
    <section class="post-guide">
        <h3>主题创建指南 (by <a href="http://v2ex.com/member/livid">livid@v2ex</a>)</h3>
        <ul>
            <li>
                <h4>• 主题标题</h4>
                请用尽可能准确的语言在标题中描述你的问题或要点。标题是必须要有的。长度最好不要超过 50 个中文字符。
            </li>
            <li>
                <h4>• 主题内容</h4>
                可以在主题内容中对要点进行进一步说明，但是如果标题中已经包含了足够的信息量，则主题内容不是必须的。
            </li>
            <li>
                <h4>• 如何贴图？</h4>
                这里支持将新浪微博的图片链接自动转换为图片。你可以将图片发送到新浪微博，然后右键单击图片选择复制链接，然后将链接插入到主题正文中即可。
            </li>
            <li>
                <h4>• 主题编辑</h4>
                在主题提交后，你可以在 300 秒内自由编辑自己的主题，包括自由移动到任何节点。300 秒之后，编辑和移动权限将会关闭。
            </li>
            <li>
                <h4>• 主题删除</h4>
                只有 V2EX 管理员（0 级用户）可以删除主题。
            </li>
            <li>
                <h4>• 不要把无聊当成有趣</h4>
                如果你抱怨生活不如意，那么你不妨回想一下之前自己无聊的时候都在干嘛。不要在所谓的 social network 和信息爆炸上浪费生命。
            </li>
        </ul>
    </section>
</div>
{include file="footer.html"}