<!-- 网站备份 -->
<img style="display:none;" src="/cron/backup">
<!-- 其他代码 -->

<script>
/**var _gaq = _gaq || [];
               _gaq.push(['_setAccount', 'UA-31226733-1']);
               _gaq.push(['_trackPageview']);
               (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s[removed].insertBefore(ga, s);
               })();**/
</script>