{include file="header.html"}
<div class="content box">
<h2><span class="title">忘记密码</span></h2>
<form action='/api/user/forget_pwd' method="post" class="form">
	<ul>
		<li><label for="email">注册邮箱</label>
<input type="email" id="email" name="email">
<small><br>我们将发送一封邮件到您的注册邮箱，请点击邮件中链接重设密码。</small>
</li>
		<li><label for="">&nbsp;</label><input type="submit" value="确定" class="vivid-button">	</li>
	</ul>

			
</form>
</div>

<div class="sidebar">
{include file="login_box.html"}
</div>
{include file="footer.html"}