{include file="header.html"}
<div class="content">
    <section class="box member-info">
        <h2><span class="title">用户信息</span></h2>
        <img src="/avatar/{$u.avatar}/73" alt="{$u.user_name}" width="73" height="73" />
        <div class="member-info-wrap">
        <p>
            <span class="user-name">{$u.user_name}</span>
            <small>{#siteName#} 第  {$u.user_id}  号会员，加入于 {$u.user_register_time}</small>
        </p>
        <ul>
            {if isset($u.other.douban) && $u.other.douban}<li>豆瓣:<a href="{$u.other.douban}/">{$u.other.douban}</a></li>{/if}
            {if $u.other.site}<li>blog:<a href="{{$u.other.site}}" rel="external">{{$u.other.site}}</a></li>{/if}
            {if $u.other.location}<li>location:{$u.other.location}</li>{/if}
            {if isset($u.other.weibo)&& $u.other.weibo}<li>微博:<a href="{$u.other.weibo}" rel="external">{$u.other.weibo}</a></li>{/if}
            {if $u.site.follower}<li>followers:<a href="">{$u.site.follower}</a></li>{/if}
        </ul>
        {if $u.other.intro}<p>个人介绍：{$u.other.intro}</p>{/if}
        {if $me.user_id neq $u.user_id}<p class="follow-user"><a href="/api/user/{$u.user_name}?do={if $is_follow eq false}fo{else}unfo{/if}" class="vivid-button">{if $is_follow eq false}关注TA{else}取消关注{/if}</a><a href="messages/send?to={$u.user_name}">发送私信</a></p>{/if}
    </section>
    <div id="topic-list" class="box">
        <p class="title">最近创建主题</p>
        <span class="more"><a href="/member/{$u.user_name}/topic">更多</a></span>
        {include file="topic_list.html" show_avatar=true}
        <span class="box-footer"><a href="/member/{$u.user_name}/topic">&nbsp;&nbsp;查看更多主题</a></span>

    </div>
    <div id="topic-list" class="box">
        <p class="title">最近回复主题</p>
        <span class="more"><a href="/member/{$u.user_name}/replies">更多</a></span>
        <ul class="topic-list  user-topic-list">
            {if $hiscomment}
            {foreach from=$hiscomment item=p}
            <li class="topic-item topic-1">
                <p class="post-title-wrap">回复了主题：<a class="post-title small-title" href="/t/{$p.post_id}">{$p.post_title}</a></p>
                <p class="cm-content">{$p.cm_content}</p>
                <span class="last-reply">{time_ago time={$p.cm_time}}</span>
            </li>
            {/foreach}
            {else}
            <li>没有最近回复的帖子</li>
            {/if}
        </ul>
        <span class="box-footer"><a href="/member/{$u.user_name}/replies">&nbsp;&nbsp;查看更多回复</a></span>
    </div>
</div>
<div class="sidebar">
</div>
{include file="footer.html"}