   {nocache}
    {if $is_login}
    <div class="profile-box" id="profile-box"> 
        <ul>
            <li>	
                <img src="/avatar/{$me.user_id}/48" width="48" height="48" alt="{$me.user_name}" />
                <span class="user-name"><a href="/member/{$me.user_name}" title="{$me.user_name}">{$me.user_name}</a></span>
            </li>
            <li>
                <ul>
                    <li><a href="/member/{$me.user_name}/favnode" title="{$_['my following nodes']}"><span class="count-no">{$me.site.favnode}</span>{$_['favnodes']}</a></li>
                    <li><a href="/member/{$me.user_name}/favtopic" id="JS_fav_topic" title="{$_['my favourite topics']}"><span class="count-no">{$me.site.favtopic}</span>{$_['favtopics']}</a></li>
                    <li><a href="/member/{$me.user_name}/following" title="{$_['my following users']}"><span class="count-no">{$me.site.following}</span>{$_['followings']}</a></li>
                </ul>
            </li>
            <li>
	  <a href="/node?for=create_topic" class="vivid-button track-sidebar-add-topic">{$_['create a new topic']}</a>
            </li>
        </ul>
    </div>
    {else}
    {include file="login_box.html"}
    {/if}
    {/nocache}