{include file="header.html"}

<div class="content">
    <div class="article-box">
        <nav class="breadcrumb">
            <a href="">{$site.name}</a>
            <a href="node/{$t.node_slug}">{$t.node_name}</a>
        </nav>
        <article class="post-info">
            <header>
                <h2>{$t.post_title}</h2>
                <a class="post_author" href="/member/{$t.user_name}"><img src="/avatar/{$t.user_id}/73"  alt="{$t.user_name}" /></a>
                <span>By <a href="/member/{$t.user_id}">{$t.user_name}</a> at <time class="time-txt">{$t.post_time}</time>, {$t.post_hit} hits</span>
            </header>
            <div class="post-content">
                {$t.post_content}
            </div>
            <footer class="topic-footer">
                <ul class="post-footer-bar">
					{if $t.post_fav_no_cache > 0}<li>已有 <span id="topic-fav-count">{$t.post_fav_no_cache}</span> 人收藏此主题</li>{/if}
                    {if $is_login}<li><a title="{if $fav eq true}{$lang.clickToUnfav}{else}click to fav{/if}" class="{if $fav eq true}fav-link{else}unfav-link{/if}" id="do-fav" href="api/post/{$t.post_id}/?do={if $fav eq true}unfav{else}fav{/if}">{$lang.favTopic}</a></li>{/if}
                    <li><a class="share" title="分享到Twitter" href="https://twitter.com/share?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&related=nodeprint&hashtags={$t.node_slug}&text={$t.post_title}">Tweet</a></li>
                    <li><a class="share" title="分享到豆瓣" href=" http://www.douban.com/recommend/?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&title={$t.post_title}">Douban</a></li>
                    <li><a class="share" title="分享到微博" href="http://service.weibo.com/share/share.php?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&title={$t.post_title}">Weibo</a></li>
                </ul>
            </footer>
        </article>


    </div>

    <div class="box">
        <span class="title"><strong id="post-comment-no" class="vivid-notice">{$t.post_comment_no}</strong> {$lang.replies} {if $t.post_comment_no neq 0} |  {$lang.until} {$t.post_last_comment}{/if}</span>
        <span class="cm-order"><a href="/t/{$t.post_id}?order={if isset($smarty.get.order)&&$smarty.get.order eq desc}asc{else}desc{/if}">{if isset($smarty.get.order)&&$smarty.get.order eq desc}{$lang.olderReplyFirst}{else}{$lang.newerReplyFirst}{/if}</a></span>
        <ul class="cm-list">
            {if $cm}
            {section name=cm loop=$cm start=0}<li id="comment-{{$cm[cm].cm_id}}" data-id="{$cm[cm].cm_id}" data-replyTo="{$cm[cm].cm_reply_to}">
                <img class="l-avatar" src="/avatar/{$cm[cm].user_id}/48" width="48" height="48" alt="{$cm[cm].user_name}" />
                {if $cm[cm].cm_reply_to!=0}<a class="s-avatar" href="/t/{$cm[cm].post_id}#comment-{$cm[cm].cm_reply_to}"><img src="/avatar/{$cm[cm].cm_reply_id}/20" width="20" height="20"/></a>{/if}
                <p><a class="user-name" href="/member/{$cm[cm].user_id}">{$cm[cm].user_name}</a><span class="time-ago" data-time="{$cm[cm].cm_time}">{time_ago time=$cm[cm].cm_time}</span></p>
                <p class="comment-content">{$cm[cm].cm_content}</p>
                <span class="floor">{*#*}{if isset($smarty.get.order)&&$smarty.get.order eq desc}{$smarty.section.cm.total-$smarty.section.cm.index}{else}{$smarty.section.cm.index+1}{/if}</span> 
                    <a class="reply" title="{$lang.reply}" href="" data-id="{$cm[cm].cm_id}" data-username="{$cm[cm].user_name}">{$lang.reply}</a>
            </li>
            {/section}
            {else}
            <li id="no-reply">暂时没有回复。</li>
            {/if}
        </ul>
    </div>

    <script type="text/template" id="comment-template">
        {literal}<li style="display:none;" data-id="{{data.cm_id}}" data-replyTo="{{data.cm_reply_to}}">
            <img class="l-avatar" src="/avatar/{{data.user_id}}/48" alt="" width="48" height="48"/>{/literal}
            {literal}<p><a class="user-name" href="/member/{{data.user_id}}">{{data.user_name}}</a><span class="time-ago" data-time="{{data.cm_time}}">{/literal}{$lang.justNow}</span></p>
           {literal}<p class="comment-content">{{{data.cm_content}}}</p>{/literal}             
                {literal}<a class="reply" href="" data-id="{{data.cm_id}}" data-username="{{data.user_name}}">{/literal}{$lang.reply}</a>
           
             <span class="floor"></span>
            </script>

            <div class="box post-box cm-box">
                <h4 class="title">{$lang.addReply}</h4>
                <a class="back-to-top" href="/t/{$t.post_id}#body" title="{$lang.backToTop}"><span class="up-arrow">&uarr;</span>{$lang.backToTop}</a>
                {if $is_login}
                 <div class="icon-list">
                        <ul>
                            {if $local_upload==='1'}<li><span class="icon" title="上传图片">&#128228;</span></li>{/if}
                            <li><span class="icon" id="JS-add-pic" title="添加外链图片">&#128247;</span></li> 
                            <li><span class="icon" id="JS-add-link" title="添加链接">&#128279;</span></li>
                        </ul>{if $local_upload==='1'}
                        <input type="file" name="file" id="file-upload" accept="image/*" title="上传图片">
                        {/if}
                </div>
                <form action="api/comment/add" method="post" id="cm-form">
                    <input type="hidden" name="post-author" value="{$t.user_name}">
                    <input type="hidden" name="post-id" value="{$t.post_id}"/>
                    <input type="hidden" name="cm-reply-to" id="cm-reply-to" value="0"/>
                    <input type="hidden" name="cm-reply-name" id="cm-reply-name" value=""/>
                    <textarea name="cm-content" id="cm-box"></textarea>                                      
                    <input type="submit" value="{$lang.send}" class="button" id="cm-button"/>
                    <small>Ctrl+Enter</small>

                    <div id="preview">
                        <ul></ul>
                    </div>


                    <ul class="post-tip">
                        <li><p>不支持html标签，UBB代码</p></li>
                        <li><p>链接、图片请直接粘贴地址</p></li>
                        <li><p>视频请粘贴播放页地址，支持优酷，土豆</p></li>
                        <li><p>支持@用户，提及管理员请@admin 或者 @airyland</p></li>
                        <!--<li><p>邮件地址会被自动替换@为#</p></li>-->
                    </ul>

                    <span class="box-footer">{$lang.replyTip}</span>
                </form>
                {else}
                {include file="login_box.html" showtitle=false}
                {/if}

            </div>
    </div>
    <div class="sidebar">
        {include file="profile_box.html"}
        {if $is_admin}
        <section class="box">
            <h3>操作</h3>
            <ul class="list">
                <li><a href="api/post/{$t.post_id}/?do=delete" id="do-delete">删除</a></li>
                <li><a href="api/post/{$t.post_id}/?do=transfer" data-id="{$t.post_id}" data-node="{$t.node_slug}" id="do-transfer">移动帖子</a></li>
                <li><a href="/api/post/{$t.post_id}/?do=up">up</a></li>
                <li><a href="/api/post/{$t.post_id}/?do=down">down</a></li>
                <li>说明：上面up和down主要是为了实现后期可能需要的帖子首页权重排名</li>
            </ul>
        </section>
        {/if}
    </div>
    {include file="footer.html"}