        <ul class="topic-list"> 
            {if is_array($post)&&count($post)>0}{foreach from=$post item=p} 
            <li class="topic-item t-{$p.post_id}">
                {if !isset($show_avatar)}
                <img src="/avatar/{$p.user_id}/48" width="48" height="48" alt="{$p.user_name}" />
                {/if}
                <p><a class="post-title" href="t/{$p.post_id}" title="{$p.post_title}">{$p.post_title|truncate:58:"...":true}</a></p>
                <p>
                    <a class="post-node" href="/node/{$p.node_slug}">{$p.node_name}</a><a class="post-author" href="/member/{$p.user_name}">{$p.user_name}</a>
                    <span>{$p.post_hit} {$_.hits}</span>{if $p.post_comment_no neq 0}<span>{time_ago time=$p.post_last_comment} {$_.lastReplyFrom} <a class="post-author" href="/member/{$p.post_last_comment_author}">{$p.post_last_comment_author}</a></span>{/if}
                </p>
                <span class="last-reply"><a class="post-cm-count{if $p.user_name eq $me.user_name} my-post{/if}" href="/t/{$p.post_id}">{$p.post_comment_no}</a></span>
            </li>
            {/foreach} 
            {else}
            <li>暂时没有相关帖子哦</li>
            {/if}
        </ul>
