{include file="header.html"}
<div class="content">
    <section class="box">
        <h2></h2>
        <span class="title">{$lang.settings}</span>
        <form action="/api/user/{$me.user_name}/?do=update" method="post" class="form">
            <ul>
                <li>
                    <label for="username">{$lang.username}</label>
                    <input type="text" name="username" id="username" value="{$me.user_name}" disabled required/>
                </li>
                <li>
                    <label for="user-email">{$lang.email}</label>
                    <input type="email" id="user-email" name="user-email" value="{$me.user_email}" readonly required/>
                    {if $me.user_email_confirm == 1}已通过验证 {else if $me.user_email_confirm != 1 &&  $me.user_email_confirm_sent ==1 }验证邮件已发送 <a href="/api/user/0/email_confirm?u={$me.user_id}">重新发送</a>{else}邮箱未验证 <a href="/api/user/0/email_confirm?u={$me.user_id}">立即验证</a>{/if}
                </li>
                <li>
                    <label for="user-site">{$lang.website}</label>
                    <input type="url" name="user-site" id="user-site" value="{$me.other.site}"/>
                </li>
                <li>
                    <label for="user-location">{$lang.location}</label>
                    <input type="text"  name="user-location" id="user-location" value="{$me.other.location}"/>
                </li>
                <li>
                    <label for="user-sign">{$lang.sign}</label>
                    <input type="text" id="user-sign" name="user-sign" value="{$me.other.sign}"/>
                </li>
                <li>
                    <label for="user-intro">{$lang.intro}</label>
                    <textarea name="user-intro" id="user-intro" >{$me.other.intro}</textarea>
                </li>
                <li>
                    <label for="twitter">twitter</label>
                    <input type="text" name="twitter" id="twitter" value="{$me.other.twitter}"/>
                </li>
                <li>
                    <label for="github">github</label>
                    <input type="text" name="github" value="{$me.other.github}"/>
                </li>
                <li>
                    <label for="">&nbsp;</label><input type="submit" value="{$lang.update}" class="vivid-button">
                </li>
            </ul>
        </form>
    </section>


    <section class="box avatar-info" id="avatar">
        <h2><span class="title">{$lang.avatar}</span></h2>
        <p>
            <img src="/avatar/{$me.user_id}/73" width="73" height="73" alt="{$me.user_name}">
            <img src="/avatar/{$me.user_id}/48" width="48" height="48" alt="{$me.user_name}">
            <img src="/avatar/{$me.user_id}/20" width="20" height="20" alt="{$me.user_name}">
        </p>
        <span class="title">上传新头像</span>
        <form action="api/user/0/avatar" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" id="" required>
            <input type="submit" value="{$lang.upload}" class="vivid-button">
        </form>
    </section>

    <section class="box" id="change_pwd">
        <h2><span class="title">{$lang.changePwd}</span></h2>
        <form action="/api/user/0/change_pwd" method="post" class="form">
            <ul>
                <li>
                    <label for="old-pwd">{$lang.oldpwd}</label>
                    <input type="password" name="old-pwd" required />
                </li>
                <li>
                    <label for="new-pwd">{$lang.newpwd}</label>
                    <input type="password" name="new-pwd" required />
                </li>
                 <li>
                    <label for=new-pwd2"">again</label>
                    <input type="password" name="new-pwd2" required />
                </li>
                <li>
                    <label for="">&nbsp;</label>
                    <input type="submit" value="{$lang.update}" class="vivid-button" />
                </li>
            </ul>
        </form>
    </section>

    {if $is_admin}
        <!--  <section class="box" id="change_pwd">
        <h2><span class="title">实验功能</span></h2>

        <form action="" method="" class="form">
            <ul>

                <li>
                     <label for="enable-notification">开启桌面提醒</label>
        <input type="checkbox" id="enable-notification" name=""/><span>(当前浏览器有效)</span>
                </li>
       
       
</form>
    </section> -->
    {/if}

</div>

<div class="sidebar">
    {include file="profile_box.html"}
</div>
{include file="footer.html"}