{include file="header.html"}
<div class="content">
    <section class="box">
        <span class="send-message"><a href="/messages/send" class="vivid-button">发送私信</a></span>
        <dl class="ui-tab">
            <dt class="ui-tab-trigger clearfix">  
            <a href="/messages/?type=unread" class="ui-tab-trigger-item {if isset($smarty.get.type)&&($smarty.get.type=='' or $smarty.get.type=='unread')||!isset($smarty.get.type)}ui-tab-trigger-item-current{/if}">未读消息(<span class="vivid-notice">{$unread_count}</span>)</a> 
            <a href="/messages/?type=all" class="ui-tab-trigger-item {if isset($smarty.get.type)&&$smarty.get.type=='all'}ui-tab-trigger-item-current{/if}">所有消息({$all_count})</a>   
            <a href="/messages/?type=pm" class="ui-tab-trigger-item {if isset($smarty.get.type)&&$smarty.get.type=='pm'}ui-tab-trigger-item-current{/if}">私信({$pm_count})</a>    
            </dt>  
        </dl>

        <ul class="m-list">
            {if $message}
            {foreach from=$message item=m}<li>
                <p{if $m.m_read eq 1} class="unread-notice"{/if}><a href="/member/{$m.m_from_username}">{if $m.m_from_username eq $me.user_name}你无聊地{else}{$m.m_from_username}{/if}</a>{if $m.m_type eq 1}在{elseif $m.m_type eq 2}在回复{elseif $m.m_type eq 3}在创建主题{elseif $m.m_type eq 4}给你发了私信
                    {/if}{if $m.m_type eq 1}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>回复了你{/if}{if $m.m_type eq 2}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>时提到了你{/if}{if $m.m_type eq 3}<a href="t/{$m.sub.id}{if isset($m.sub.cm_id)}#comment-{$m.sub.cm_id}{/if}">{$m.sub.title}</a>时提到了你{/if}</p>
                <p>{$m.sub.content}</p>
                <p class="time">{time_ago time=$m.sub.time}</p>
                {if $m.m_type eq 4}<p class="reply-message"><a href="/messages/send?to={$m.m_from_username}">回复</a></p>{/if}
                {if isset($smarty.get.type)&&$smarty.get.type!=='pm'} <a href="/api/message/{$m.m_id}/delete?m_id={$m.m_id}" class="delete-link">删除</a>{/if}
            </li>
            {/foreach}
            {else}
            <li>没有相关消息哦~</li>
            {/if}
        </ul>
    </section>
    <nav class="box">
        <div class="pagination-wrap">{$pagination}</div>
    </nav>
</div>
<div class="sidebar">
    {include file="profile_box.html"}
</div>
{include file="footer.html"}

