{include file="header.html"}
<div class="content">
	<section class="box">
		<h2><span class="title">关注的用户</span></h2>
		<ul class="following">
		{if is_array($fo)}
		{foreach from=$fo item=f}
		<li>
			<a href="/member/{$f.f_keyname}">{$f.f_keyname}</a>
			<span><a class="unfav-node" href="/api/user/{$f.f_keyname}?do=unfo" title="取消关注">x</a></span>
		</li>
		{/foreach}
		{else}
		<li>暂时没有关注的用户</li>
		{/if}
		</ul>
	</section>

	<section class="box">
	<h2><span class="title">关注用户创建的帖子</span></h2>
	{include file="topic_list.html"}
	</section>	
	{if $show eq true}
<nav class="box">
	<div class="pagination-wrap">{$page_bar}</div>
</nav>
{/if}
</div>

<div class="sidebar">
	{include file="profile_box.html"}
</div>
{include file="footer.html"}