{include file="header.html"}
<div class="content box">
	<h2>
		<span class="title">网站基本设置</span>
	</h2>
	<form action="" class="form">	
<ul>
	<li>
		<label for="site-name">网站名</label>
		<input type="text" id="site-name" name="site-name">
	</li>
	<li>
		<label for="site-description">一句话描述</label>
		<input type="text" id="site-description" name="site-description">
	</li>
	<li>
		<label for="site-intro">网站介绍</label>
		<input type="text" id="site-intro" name="site-intro">
	</li>
	<li>
		<label for="site-key">关键词</label>
		<input type="text" id="site-key" name="site-key">
	</li>
	<li>
		<input type="submit" value="保存设置">
	</li>

</ul>

	</form>
</div>

<div class="sidebar">
	

</div>

{include file="footer.html"}