{include file="header.html"}
{include file="admin/admin_nav.html"}
<div class="content admin-content">
    <section class="box">
        <h2><span class="title">统计</span></h2>



  <!-- Add Google Analytics authorization button -->
  <button id="authorize-button" style="visibility: hidden">
        Authorize Analytics</button>

  <!-- Div element where the Line Chart will be placed -->
  <h2>一个月内访问数据</h2>
  <div id='visitors'></div>

  <h2>浏览器分布</h2>
   <div id="browserMap" style="width:700px;height:400px;"></div>

   <h2>来源页面分布</h2>
   <div id="from" style="width:700px;height:400px;"></div>

  <h2>节点热度</h2>
   <div id="nodeView" style="width:700px;height:400px;"></div>

     <h2>单节点热度</h2>
   <div id="singleNodeView" style="width:700px;height:400px;"></div>
  <!-- Load all Google JS libraries -->
  <script src="https://www.google.com/jsapi"></script>
  <script src="/js/plugin/gadash.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=gadashInit"></script>
  {literal}
  <script>
    // Configure these parameters before you start.
    var API_KEY = 'AIzaSyCdZAjcMEHUNDV4AZl0nq_Pabc-ii2PshQ';
    var CLIENT_ID = '982792199846.apps.googleusercontent.com';
    var TABLE_ID = 'ga:59154834';
    // Format of table ID is ga:xxx where xxx is the profile ID.

    gadash.configKeys({
      'apiKey': API_KEY,
      'clientId': CLIENT_ID
    });

    // Create a new Chart that queries visitors for the last 30 days and plots
    // visualizes in a line chart.
    var chart1 = new gadash.Chart({
      'type': 'LineChart',
      'divContainer': 'visitors',
      'last-n-days':30,
      'query': {
        'ids': TABLE_ID,
        'metrics': 'ga:visitors',
        'dimensions': 'ga:date'
      },
      'chartOptions': {
        width:800,
        height:400,
        colors:['#e82a73','blue'],
        title: '一个月内访问量',
        hAxis: {title:'日期',baselineColor:'#cccccc'},
        vAxis: {title:'访问量',baselineColor:'#cccccc'},
        curveType: 'function'
      }
    }).render();

    //浏览器分布图
    var browserMap=new gadash.Chart({
      'type':'PieChart',
      'divContainer':'browserMap',
      'last-n-days':60,
      'query':{
        'ids': TABLE_ID,
        'metrics': 'ga:visitors',
        'dimensions': 'ga:browser',
        'sort':'-ga:visitors'
      },
      'charOptions':{
        'is3D':true,
        'title':'一个月内浏览器分布'
      }

    }).render();

    var browserMap=new gadash.Chart({
      'divContainer':'from',
      'last-n-days':60,
      'query':{
        'ids': TABLE_ID,
        'metrics': 'ga:visitors',
        'dimensions': 'ga:source,ga:referralPath',
        'sort':'-ga:visitors'
      },
      'charOptions':{
        'is3D':true,
        'title':'访问来源'
      }

    }).render();

      var nodeView=new gadash.Chart({
      'divContainer':'nodeView',
      'last-n-days':60,
      'query':{
        'ids': TABLE_ID,
        'metrics': 'ga:visitors',
        'dimensions': 'ga:pagePath',
        'sort':'-ga:visitors',
        'filters':'ga:pagePath=~/node/.*[^add]$',
        'max-results':10
      },
      'charOptions':{
        'is3D':true,
        'title':'访问来源'
      }

    }).render();


       var chart1 = new gadash.Chart({
      'type': 'LineChart',
      'divContainer': 'singleNodeView',
      'last-n-days':30,
      'query': {
        'ids': TABLE_ID,
        'metrics': 'ga:visitors',
        'dimensions': 'ga:date',
        'filters':'ga:pagePath=~/node/test$'
      },
      'chartOptions': {
        width:800,
        height:400,
        colors:['#e82a73','blue'],
        title: '一个月内访问量',
        hAxis: {title:'日期',baselineColor:'#cccccc'},
        vAxis: {title:'访问量',baselineColor:'#cccccc'},
        curveType: 'function'
      }
    }).render();

  </script>
  {/literal}
</section>
</div>
{include file="footer.html"}