<div class="sidebar box admin-sidebar" {if isset($small) && $small==1}style="width:auto;"{/if}>
    <nav class="admin-nav">
        <ul>
            <li><a href="/admin/">首页</a></li>
            <li><a href="/admin/nodes">节点管理</a></li>
            <li><a href="/admin/users">用户管理</a></li>
            <li><a href="/admin/topics">帖子管理</a></li>
            <!-- <li><a href="/admin/comments">评论管理</a></li> -->
            <li><a href="/admin/pages">页面管理</a></li>
            <!-- <li><a href="/admin/admins">管理员</a></li>
            <li><a href="/admin/email">邮箱配置</a></li> -->
        </ul>
    </nav>
</div>