{include file="header.html"}
{include file="admin/admin_nav.html" small=1}
<div class="content admin-content" style="width:90%;">
  
    <section class="box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>最后时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$files item=file}
                <tr>
                    <td><a href="/t/">{$file.name}</a></td>
                    <td>{time_ago time=$file.time}</td>
                    <td></td>
                    <td></td>
                    <td><a href="/api/post/?do=delete" class="do-topic-delete">删除</a></td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </section>

    <section class="box">
        <h2><span class="title">编辑页面</span></h2>
        <form id="page-form" class="form big-form" action="/api/page/add" method="post">
            <ul>
                <li>
                    <label for="slug">文件名</label>
                    <input type="text" id="slug" name="page[page_slug]" value="{$name}" required />
                </li>
                <li>
                    <label for="content">内容</label>
                    <textarea id="content" name="page[page_md_content]">
                      {$file_content}
                    </textarea>
                </li>
                <li><label>&nbsp;</label>
                    <input type="submit" class="vivid-button" id="add-page-btn" value="{$lang.add}">
                </li>
            </ul>
        </form>
    </section>
</div>
{include file="footer.html"}