<div class="box">
    <nav class="breadcrumb">
        <a href="/#home" title="{$site.name}">{$site.name}</a>
        <a href="/node/{$node.node_slug}" title="">{$node.node_name}</a>
        <a href="/node/{$node.node_slug}/add" title="创建新主题">创建新主题</a>
    </nav>
    <div>
        <form action="/api/post/add" method="post" class="post-form mobile-form" id="topic-add-form">
            <ul>
                <li>
                    <input type="hidden" name="post[node_id]" value="{$node.node_id}"/>
                    <label for="post-title">标题</label>
                    <textarea name="post[post_title]" id="post-title" class="post-title" required></textarea>
                </li>
                <li><label for="post-content">内容</label>
                    <textarea name="post[post_content]" id="post-content" class="post-content post-content-box"></textarea>
                </li>
                <li>
                    <input type="submit" value="创建" class="vivid-button left-button"/>
                    {if !$is_mobile}<button name="preview" value="true" class="vivid-button" id="preview-topic">预览</button>{/if}
                </li>
                <li>
                    <span class="box-footer">返回<a href="/node/{$node.node_slug}">{$node.node_name}</a>
                        <a href="/node?for=create_topic">重选发贴节点</a>
                    </span>
                </li>
            </ul>
        </form>
    </div>
 </div>