 <div class="article-box">
        <nav class="breadcrumb">
            <a href="{$site.url}#home" title="{$site.name}">{$site.name}</a>
            <a href="/node/{$t.node_slug}">{$t.node_name}</a>
        </nav>
        <article class="post-info">
            <header>
                <h2>{$t.post_title}</h2>
                <a class="post_author" href="/member/{$t.user_name}"><img src="/avatar/{$t.user_id}/{if $is_mobile}48{else}73{/if}"  alt="{$t.user_name}" /></a>
                <span>By <a href="/member/{$t.user_id}">{$t.user_name}</a>  <time class="time-txt">{time_ago time=$t.post_time}</time> {$t.post_hit} {$_.hits}</span>
            </header>
            <div class="post-content">{$t.post_content}</div>
            <footer class="topic-footer">
                <ul class="post-footer-bar">
                    {if $is_admin and !$is_mobile}
                    <li><a href="/t/{$t.post_id}/edit">修改</a></li>
                    <li><a href="api/post/{$t.post_id}/?do=delete" id="do-delete" data-router="false">删除</a></li>
                    <li><a href="api/post/{$t.post_id}/?do=transfer" data-id="{$t.post_id}" data-node="{$t.node_slug}" id="do-transfer"  data-router="false">移动帖子</a></li>
                    {/if}
                    {if $plugin_topic_toolbar}{$plugin_topic_toolbar}{/if}
					{if $t.post_fav_no_cache > 0}<li><span id="topic-fav-count">{$t.post_fav_no_cache}</span> 人收藏</li>{/if}
                    {if $is_login}<li><a title="{if $fav eq true}{$_.clickToUnfav}{else}click to fav{/if}" class="{if $fav eq true}fav-link{else}unfav-link{/if}" id="do-fav" data-router="false" href="/api/post/{$t.post_id}/?do={if $fav eq true}unfav{else}fav{/if}">{$_.favTopic}</a></li>{/if}
                    <li><a class="share" title="分享到Twitter" href="https://twitter.com/share?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&related=nodeprint&hashtags={$t.node_slug}&text={$t.post_title}">Tweet</a></li>
                    <li><a class="share" title="分享到豆瓣" href=" http://www.douban.com/recommend/?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&title={$t.post_title}">Douban</a></li>
                    <li><a class="share" title="分享到微博" href="http://service.weibo.com/share/share.php?url={$smarty.server.SERVER_NAME}{$smarty.server.REQUEST_URI}&title={$t.post_title}">Weibo</a></li>
                </ul>
            </footer>
        </article>


    </div>

    <div class="box">
        <span class="title"><strong id="post-comment-no" class="vivid-notice">{$t.post_comment_no}</strong> {$_.replies} {if $t.post_comment_no neq 0} |  {$_.until} {time_ago time=$t.post_last_comment}{/if}</span>
        <span class="cm-order"><a href="/t/{$t.post_id}?order={if isset($smarty.get.order)&&$smarty.get.order eq desc}asc{else}desc{/if}">{if isset($smarty.get.order)&&$smarty.get.order eq desc}{$_.olderReplyFirst}{else}{$_.newerReplyFirst}{/if}</a></span>
        <ul class="cm-list">
            {if $cm}
            {section name=cm loop=$cm start=0}<li id="comment-{{$cm[cm].cm_id}}" data-id="{$cm[cm].cm_id}" data-replyTo="{$cm[cm].cm_reply_to}">
                <img class="l-avatar" src="/avatar/{$cm[cm].user_id}/{if $is_mobile}20{else}48{/if}" width="{if $is_mobile}20{else}48{/if}" height="{if $is_mobile}20{else}48{/if}" alt="{$cm[cm].user_name}" />
                {if $cm[cm].cm_reply_to!=0 and !$is_mobile}<a class="s-avatar" href="/t/{$cm[cm].post_id}#comment-{$cm[cm].cm_reply_to}"><img src="/avatar/{$cm[cm].cm_reply_id}/20" width="20" height="20"/></a>{/if}
                <div class="bfc">
                <p><a class="user-name" href="/member/{$cm[cm].user_id}">{$cm[cm].user_name}</a><span class="time-ago" data-time="{$cm[cm].cm_time}">{time_ago time=$cm[cm].cm_time}{mobile info=$cm[cm].cm_other}</span></p>
                <p class="comment-content">{$cm[cm].cm_content}</p>
                </div>
                 <span class="floor">{*#*}{if isset($smarty.get.order)&&$smarty.get.order eq desc}{$smarty.section.cm.total-$smarty.section.cm.index}{else}{$smarty.section.cm.index+1}{/if}</span> 
                    {if $is_login}<a class="reply" title="{$_.reply}" href="#" data-router="false" data-id="{$cm[cm].cm_id}" data-username="{$cm[cm].user_name}">{$_.reply}</a>{/if}
			{if $t.user_id===$cm[cm].user_id}<div class="is-author" title="楼主"></div>{/if}
            </li>
            {/section}
            {else}
            <li id="no-reply">暂时没有回复。</li>
            {/if}
        </ul>
        {include file="pagination.html" with_box=false}
    </div>

    <script type="text/template" id="comment-template">
        {literal}<li style="display:none;" data-id="{{data.cm_id}}" data-replyTo="{{data.cm_reply_to}}">{/literal}

            <img class="l-avatar" src="/avatar/{literal}{{data.user_id}}{/literal}/{if $is_mobile}20{else}48{/if}" alt="" width="{if $is_mobile}20{else}48{/if}" height="{if $is_mobile}20{else}48{/if}"/>
            <div class="bfc">
            {literal}<p><a class="user-name" href="/member/{{data.user_id}}">{{data.user_name}}</a><span class="time-ago" data-time="{{data.cm_time}}">{/literal}{$_.justNow}</span></p>
           {literal}<p class="comment-content">{{{data.cm_content}}}</p>{/literal}</div>             
                {literal}<a class="reply" href="#" data-id="{{data.cm_id}}" data-router="false" data-username="{{data.user_name}}">{/literal}{$_.reply}</a>
           
             <span class="floor"></span>
            </script>

            <div class="box post-box cm-box" id="reply-area">
                <h4 class="title">{$_.addReply}</h4>
                <a class="back-to-top" href="/t/{$t.post_id}#body" title="{$_.backToTop}" data-router="false"><span class="up-arrow">&uarr;</span>{$_.backToTop}</a>
                {if $is_login}
                {if !$is_mobile}
                 <div class="icon-list">
                        <ul>
                            {if $local_upload==='1'}<li><span class="icon" title="上传图片">&#128228;</span></li>{/if}
                            <li><span class="icon" id="JS-add-pic" title="添加外链图片">&#128247;</span></li> 
                            <li><span class="icon" id="JS-add-link" title="添加链接">&#128279;</span></li>
                        </ul>{if $local_upload==='1'}
                        <input type="file" name="file" id="file-upload" accept="image/*" title="上传图片">
                        {/if}
                </div>
                {/if}
                <form action="api/comment/add" method="post" id="cm-form">
                    <input type="hidden" name="post-author" value="{$t.user_name}">
                    <input type="hidden" name="post-id" value="{$t.post_id}"/>
                    <input type="hidden" name="cm-reply-to" id="cm-reply-to" value="0"/>
                    <input type="hidden" name="cm-reply-name" id="cm-reply-name" value=""/>
                    <textarea name="cm-content" id="cm-box"></textarea>
                    <input type="submit" value="{$_.send}" class="button" id="cm-button"/>
                    <span class="vivid-txt" id="reply-tip"></span>
                    <div id="preview">
                        <ul></ul>
                    </div>

                    {if !$is_mobile}
                    <ul class="post-tip">
                        <li><p>不支持html标签，UBB代码</p></li>
                        <li><p>链接、图片请直接粘贴地址</p></li>
                        <li><p>视频请粘贴播放页地址，支持优酷，土豆</p></li>
                        <li><p>支持@用户，提及管理员请@admin 或者 @airyland</p></li>
                        <!--<li><p>邮件地址会被自动替换@为#</p></li>-->
                    </ul>
                    <span class="box-footer">{$_.replyTip}</span>
                     {/if}
                </form>
                {else}
                {include file="login_box.html" showtitle=false}
                {/if}
                <img class="hidden" src="/api/post/{$t.post_id}/?do=hit"/>
            </div>