#at-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    @include radius(3px);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
}

#at-view .cur {
    background: $vivid;
    color: white;
}
#at-view .cur small {
    color: white;
}
#at-view strong {
    color: #3366FF;
}
#at-view .cur strong {
    color: white;
    font:bold;
}
#at-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
#at-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
	color:#000;
    /* border-top: 1px solid #C8C8C8; */
	img {
		vertical-align:middle;
		margin-right:5px; 
		border:1px solid #ccc;
		@include radius(3px);
	} 
}
#at-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}


