/* ==settings
--------------------------------------------------*/

$vivid: #e82a73;
$no-color: #778087;
$base-width: 1000px;
$basic-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
