.center-txt {text-align:center;}

/* == login box
----------------------------------------------------*/

.login-box {
  text-align: center;
  padding-bottom: 10px;
  h2 {
    text-align: left;
    color: #000;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
  }
}

.register-button {
  color: $vivid;
  color: #fff;
  background: $vivid;
  padding: 4px 3px;
  width: 120px;
  margin: 0 auto;
  @include radius(3px);
  display: block;
  /*border: 1px solid #999;*/
  margin-bottom: 10px;
  margin-top: 10px;
  &:hover {
    text-decoration: underline;
    color: #efefef;
  }
}

.login-box span {
  color: #000;
  a {
    margin-left: 5px;
  }
}

/* ==register form
-----------------------------------------------------------------------------------*/

.register-form {
  margin-top: 20px;
  li {
    padding: 0 0 10px 0;
  }
  small {
    display: block;
    margin-left: 90px;
    padding-top: 10px;
    font-size: 12px;
  }
  label {
    width: 80px;
    float: left;
    text-align: right;
    color: #000;
    margin-right: 10px;
  }
  input{
    width:250px;
    padding:5px;
  }
}

textarea {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

input {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  #width: 320px;
  font-size: 14px;
  padding: 3px;
  @include radius(3px);
  border: 1px solid #ccc;
  &:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
  }
}

textarea:focus {
  border: 1px solid rgba(128, 128, 160, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  outline: none;
}


.register-form input.button {
  width: auto;
  font-size: 12px;
  margin-left: 90px;
}


/* == form
------------------------------------------------------------------------------------------*/

.form {
  li {
    margin: 10px;
    width: 100%;
  }
  ul.radio-list {
      overflow:hidden;
      &:after{
      clear:both;
    }
    li{
    width:100px;
    float:left;
    margin:0 0 10px 0;
    overflow:hidden;
  }
  }
  label {
    width: 150px;
    float: left;
    color: #000;
    text-align: right;
    margin-right: 15px;
    font-size:14px;
    &.inline-label{
      margin:0;
      text-align:left;
      float:none;
      width:auto;
      font-size:12px;
    }
  }
  input, textarea {
    padding: 3px;
    font-size: 14px;
    border: 1px solid #CCC;
    width: 320px;
    @include radius(3px);
    font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
  }
  input {
    padding:6px 3px;
    &.radio {
    width:20px;
  }
  }
 
}

textarea, .form textarea {
  resize: vertical;
  height: 160px;
}

.avatar-info {
  text-align: center;
  p {
    margin-top: 15px;
  }
  form {
    margin: 20px 0;
  }
}


input {
  &::-webkit-input-placeholder {
    font-size: 12px;
  }
  &:-moz-placeholder {
    font-size: 12px;
  }
  &:-ms-input-placeholder {
    font-size: 12px;
  }
}

input:focus {
  &::-webkit-input-placeholder {
    color: #ececec;
  }
  &:-moz-placeholder {
    color: #ececec;
  }
  &:-ms-input-placeholder {
    color: #ececec;
  }
}

.message-form {
	label {
		width:24px;
		font-size:12px;
		color:#666;
	}
	textarea {
		height:100px;
	}
}
.form .small-button {
	width:80px;
	margin-right:20px;
}
.cancel{
	padding-right:15px;
}

.aui_content .m-list p{
	padding-right:0;
}

.aui_content .m-list p span.time {
	color:#aaa;
}
.aui_close:hover{
	-webkit-transform:rotate(180deg);
}