@charset "UTF-8";
/**
* style.css
* @author airyland <i@mao.li>
*/

/* == global
---------------------------------------------------*/
body {
  font-size: 13px;
  //background-color: #eeeeee;
  background-color:#e1dad0;
  font-family:$basic-family;
  background-image: url(http://img02.taobaocdn.com/tps/i2/T1BsZZXhVfXXXgtLTf-1648-1165.png);
  color: #999;
  padding-top: 40px;
  -webkit-backface-visibility: hidden;
}

a {
  color: #778087;
  &.more {
    font-size: 12px;
    padding-left: 10px;
  }
  &:hover {
    color: #385F8A;
  }
}


h3, h2 .title {
  font-weight: normal;
  font-size: 12px;
  color: #999;
  line-height: 35px;
  padding-left: 10px;
  border-bottom: 1px solid #ececec;
  background:url(../img/box_title_bg.png) repeat-x;
}
h2 .title {
  color:#666;
}

.hidden {
  display:none;
}

.up-arrow {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.error {
  color: #ED4E8B;
}



span.more {
  position: absolute;
  right: 15px;
  top: 10px;
  a {
    font-size: 12px;
  }
}

/* ==site tab
---------------------------------------------------*/
.site-tab {
  background:url(../img/box_title_bg.png);
  padding: 8px 10px 10px 15px;
  @include radius(3px);
  overflow:hidden;
  position:relative;
  ul {
    overflow: hidden;
    li {
      float: left;
      padding: 3px;
      margin-right:5px;
      @include radius(2px);
	  &:hover{
		background: #ececec;
	  }
      &.current {
        background: $vivid;
        color: #fff;
        a {
          text-shadow:none;
          color: #fff;
        }
      }
      a {
        text-shadow: 0 1px 0 #fefefe;
        padding: 5px 5px;
        &:hover {
            text-decoration: underline;
          }
      }
    }
  }
}

.site-sub-tab {
  width:100%;
  position:relative;
  border:1px solid #ececec;
  clear:both;
  margin-top:5px;
  padding:5px;
  background:#ececec;
  @include radius(3px);
  a{
    padding-right:5px;
  }
  .triangle{
    position:absolute;
    color:#ececec;
    top:-10px;
    left:80px;
  }
}

#add-topic {
  position:absolute;
  right:10px;
  top:12px;
}


.wrap {
  width: $base-width;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  min-height: 622px;
}

.index-content, .box, .article-box, .profile-box, .sidebar section {
  @include radius(3px);
  @include shadow(0,2px,5px,rgba(0, 0, 0, 0.15));
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 20px;
}

.box {
  position: relative;
  .box-footer {
    width: 100%;
    display: block;
    clear: both;
    padding: 5px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
  }
  hr {
    color: #ececec;
    background: #ececec;
    border: none;
    margin:13px 0 0 0;
  }
}

.block-box {
  display: block;
}

.content {
  width: 70%;
  float: left;
}

.sidebar {
  width: 268px;
  float: right;
  overflow: hidden;
}

small {
  color: #999;
  font-size: 12px;
}

.ana-form small {
  float: right;
  margin: 0 15px 5px 0;
}

#post-box {
  resize: vertical;
  width: 668px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  @include radius(3px);
  padding: 3px;
}

#post-button {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}



/* ==node list
-----------------------------------------------------------------------------------*/

.node-list {
  position: relative;
  span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
  }
  ul {
    padding-left: 10px;
    padding-top: 15px;
  }
  li {
    float: left;
    margin: 0 5px 10px 0;
    height: 21px;
    a {
      background: #f5f5f5;
      border: 1px solid #e4e4e4;
      @include radius(3px);
      padding: 4px 10px;
      font-size: 13px;
      text-shadow: 0 1px 0 #fff;
      &:hover {
        background: #e4e4e4;
        color: #666;
      }
    }
  }
}









/* ==breadcrumb
----------------------------------------------------------------------------------*/

.breadcrumb {
  font-size: 16px;
  color: #000;
  padding: 10px;
  position: relative;
  a {
    &:after {
      margin: 0 5px;
      content: "\00BB";
      color: #ccc;
    }
    &:last-child:after {
      content: " ";
    }
  }
}

p.node-count {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
  font-size: 12px;
  em {
    font-style: normal;
    font-weight: bold;
    margin: 0 5px;
    color: #999;
  }
  a{
    margin-right:10px;
  }
}

p {
  &.node-intro {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 80%;
  }
  &.node-create-button {
    padding-left: 10px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 45px;
  }
}

/* ==site status
----------------------------------------------------------------------------------*/

.site-status {
  dl {
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  dt {
    width: 100px;
    float: left;
    clear: left;
    display: inline;
    text-align: right;
    margin-right: 10px;
    padding: 5px 0;
  }
  dd {
    float: left;
    display: inline;
    color: $no-color;
    padding: 5px 0;
  }
  span.box-footer {
    width: 100%;
    display: block;
    clear: both;
    padding: 5px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
  }
}

/* ==post info 
-----------------------------------------------------------------------------------*/

.post-info {
  position: relative;
  h2 {
    width: 550px;
    word-wrap: break-word;
    word-break: normal;
    font-size: 20px;
    line-height: 150%;
    font-weight: normal;
    color: #000;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  footer {
    float: right;
    margin-bottom: 10px;
  }
  header {
    position: relative;
    border-bottom: 1px solid #ececec;
    span {
      font-size: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: block;
    }
    a.post_author {
      position: absolute;
      right: 20px;
      top: -25px;
      img {
      border-radius: 5px;
    }
    }
  }
}

.topic-footer {
  width:100%;
  border-top:1px solid #eee;
  overflow:hidden;
}
.post-footer-bar {
  float:right;
  padding-top:10px;
  li {
    float: left;
    margin-right: 10px;
  }
  a {
    font-size: 12px;
    color: #fff;
    background: #ccc;
    padding: 0 3px;
    @include radius(3px);
    &:hover {
      background-color: #667;
      color: #fff;
    }
  }
}

.post-content {
  line-height: 25px;
  font-size: 14px;
  color: #000;
  margin: 10px 10px 20px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal;
  img {
    max-width: 600px;
  }
}

.title {
  text-align: left;
  font-weight: normal;
  display: block;
  height: 38px;
  width: 100%;
  font-size: 14px;
  line-height: 38px;
  padding-left: 15px;
  border-bottom: 1px solid #ececec;
  color:#000;
}

span.email {
  border: 1px solid #ccc;
  @include radius(3px);
  padding: 2px 5px 2px 15px;
  font-size: 12px;
  background: url("../img/email.gif") no-repeat 2px center;
}

p.video-info{}

a {
  &.fav-link, &.unfav-link {
    text-indent: -9999px;
    width: 13px;
    height: 13px;
    padding: 0;
    display: inline-block;
    background: white url(../img/red_heart.gif) no-repeat;
  }
  &.fav-link:hover {
    background-color: #fff;
  }
  &.unfav-link {
    &:hover {
      background-color: #fff;
    }
    background-image: url(../img/gray_heart.gif);
  }
}

/* ==comment box
-----------------------------------------------------------------------------------*/

.cm-box {
  form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  textarea {
    width: 668px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    @include radius(3px);
    padding: 3px;
  }
  .box-footer {
    padding-left: 15px;
  }
}

.post-form textarea {
  width: 668px;
  height: 120px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ccc;
  @include radius(3px);
  padding: 3px;
}

#cm-button {
  margin: 10px;
  background: #ed4e8b;
  color: #fff;
  @include radius(3px);
  border: none;
  width:320px;
  &:hover {
    background: $vivid;
  }
}

#cm-form small {
  border: 1px solid #ececec;
}

.back-to-top {
  position: absolute;
  right: 10px;
  top: 15px;
}

/* ==post box
-----------------------------------------------------------------------------------*/

.post-form {
  textarea {
    &.post-title {
      height: 120px;
      resize: none;
    }
    &.post-content {
      height: 240px;
      resize: vertical;
    }
  }
  label {
    display: block;
    font-size: 14px;
    float: none;
    margin: 5px;
    padding: 5px 0;
  }
  li {
    margin: 10px;
  }
}



/* == github
------------------------------------------------------------------------------------*/

.github-list {
  li {
    padding: 5px 0;
    border-bottom: 1px solid #ececec;
    &:last-child {
      border: none;
    }
  }
  p {
    padding-left: 15px;
    position: relative;
  }
  .github-lang {
    position: absolute;
    right: 10px;
    top: 0;
    font-weight: bold;
  }
  a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
  }
}

/* == post guide
------------------------------------------------------------------------------------------*/

.post-guide {
  color: #000;
  ul {
    margin: 10px;
  }
  h4 {
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
  }
}



/* == nodes list
------------------------------------------------------------------------------------------*/

.nodes-list {
  >li {
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #ececec;
    position: relative;
  }
  .parent-node {
    text-align: right;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 100px;
    height: 14px;
    display: block;
    float: left;
  }
  li {
    ul {
      margin-left: 120px;
      overflow: hidden;
    }
    li {
      float: left;
      border: none;
      padding: 5px 8px;
      a {
        font-size:14px;
      }
    }
    &:last-child {
      border: none;
    }
  }
}

/* == settings
---------------------------------------------------------------------------------------*/

.avatar-info img {
  border: 1px solid #ececec;
}

/* == message list
-----------------------------------------------------------------------------------------*/

.m-list {
  color:#333;
  font-size:14px;
  a{
    padding:0 5px;
  }
  li {
    padding: 10px 10px;
    border-bottom: 1px solid #ececec;
    position: relative;
    &:last-child {
      border: none;
    }
    img {
      max-width: 80%;
      display: table-cell;
    }
  }
  p {
    line-height: 25px;
    padding-right: 35px;
    word-wrap: break-word;
    span.time {
     padding:0 5px;
    }
  }
  .delete-link {
    color: $vivid;
  }
}

.aui_content {
 .m-list{
 	font-size:12px;
 	li{
 	padding:5px 0;
 	}
 	p{
	padding:0;
 	}
	
  }
}

.send-message {
  position: absolute;
  top: 10px;
  right: 15px;
}

p.reply-message {
  position: absolute;
  top: 10px;
  right: 15px;
  padding-right:0;
  a {
    color: #ccc;
  }
}



/* == post-tip
-----------------------------------------------------*/

.post-tip {
  padding: 10px 0 10px 30px;
  border-top: 1px solid #ececec;
  list-style: square;
  li {
    padding: 2px;
    color: #ed4e8b;
    p {
      color: #666;
    }
  }
}

/* == node
-------------------------------------------------------*/

.following, .node {
  padding: 10px 0 10px 10px;
}

.following li, .node li {
  float: left;
  border: 1px solid #ececec;
  margin: 10px;
  padding: 5px;
  @include radius(3px);
}

.node li.no-favnode, .following li.no-following{
  border:none;
  margin:0 0 5px 0;
  a {
    font-size:12px;
    margin:0 5px;
    padding:2px 5px;
    background:$vivid;
    color:#fff;
    @include radius(2px);
  }
}

.following li a, .node li a {
  font-size: 14px;
}

.post-count {
  color: #ed4e8b;
}

.unfav-node {
  color: #ccc;
  &:hover {
    color: #ed4e8b;
  }
}

/* == admin
-------------------------------------------------------*/
.admin-nav {
  a.current {
    color: $vivid;
  }
}

.tools {
  padding-left:10px;
  li {
    padding:5px;
  }
}
.admin-sidebar {
  float: left;
  position: fixed;
  li {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ececec;
    &:last-child {
      border: none;
    }
    a{
      font-size:14px;
      padding:15px 5px;
    }
  }
}

.delete-node {
  background: none;
  border: none;
  color: $vivid;
  font-size: 12px;
  &:hover {
    text-decoration: underline;
  }
}

.box .admin-box-footer {
  padding: 10px 0 0 30px;
}

.admin-content {
  float: right;
  section {
    padding-bottom: 15px;
  }
}

.status {
  strong {
    font-size: 50px;
    font-weight: normal;
    font-family: arial;
    color: $vivid;
    display: block;
  }
  li {
    float: left;
    width: auto;
    padding:0 20px;
    text-align: center;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 674px) {
  body {
    overflow: hidden;
  }
  #header h1 {
    width: 90px;
  }
  .site-nav li a {
    font-size: 12px;
  }
  #logo {
    width: 80px;
    height:16px;
    margin-top:12px;
    background-size:cover;
    line-height:40px;
  }
  .search {
    display: none;
  }
  #footer, .header-wrap, .wrap {
    width: 440px;
  }
  .content {
    width: 440px;
    margin: 0 auto;
    overflow: hidden;
    float: none;
  }
  .cm-list {
    li {
      width: 440px;
    }
    p {
      width: 350px;
      &.comment-info {
        width: 280px;
        top: 10px;
        font-size: 10px;
      }
    }
  }
  #cm-box {
    width: 420px;
  }
  .profile-box {
    display: none;
  }
}

@media screen and (max-width: 674px) {
  body {
    width: 100%;
    overflow: hidden;
  }
  #footer, .header-wrap, .wrap {
    width: 95%;
  }
  .content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    float: none;
  }
  .post_author img {
    display:none;
  }
  .post-footer-bar>li:first-child{
    display:none;
  }
  #cm-box {
    width:100%!important;
    margin:0 15px;
  }
  a.post-title {
    font-size: 14px;
    line-height: 25px;
  }
  .topic-item > p:nth-child(2) {
    margin-left: 0;
  }
  .topic-item > p:nth-child(3) {
    display: inline;
    margin-left: 0;
  }
  .topic-item {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .topic-item > p:nth-child(3) > span + span {
    display: none;
  }
  .topic-list span.last-reply {
    /*  top:20px;
     right:2px; */
    padding: 0;
    position: static;
    display: inline;
    a {
      background: #fff;
      color: #bbb;
      font-weight: normal;
    }
  }
  .topic-list li:hover > span a {
    background-color: #f5f5f5;
  }
  .topic-list span.last-reply:after {
    content: '条回复';
    color: #ccc;
  }
  a.post-cm-count,a.my-post {
    padding: 0;
    background: #fff;
  }
  a.my-post:visited {
    background: #fff;
    color: #ccc;
  }
  .sidebar {
    width: 100%;
  }
  img.l-avatar, .s-avatar {
    display: none;
  }
  .cm-list {
    li {
      width: 280px;
    }
    p {
      width: 280px;
      margin-left: 0;
      &.comment-info {
        width: 280px;
        top: 10px;
        font-size: 10px;
      }
    }
  }
  #cm-box {
    width: 260px;
  }
  #cm-button {
    display: block;
    width: 268px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .profile-box {
    display: none;
  }
}

@media (min-width: 675px) and (max-width: 960px) {
  .header-wrap, .wrap, .content, #footer {
    width: 90%;
  }
  .content,.sidebar {
    width: 100%;
  }
  .profile-box {
    display: none;
  }
}

.search {
  width: 200px;
}

input[type="search"] {
  width: 200px;
  background:#4b494a;
  border:1px solid #333;
}

input.vivid-button, .vivid-button {
  background: #ed4e8b;
  color: #fff;
  @include radius(3px);
  border: none;
  padding: 5px 8px;
}

input.vivid-button:hover, .vivid-button:hover {
  background: $vivid;
  color: #fff;
}

.vivid-notice {
  color: #ed4e8b;
  font-weight: bold;
  margin: 0 3px;
}

input.left-button{
  float:left;
  margin-right:15px;
}

/* == pagination
-------------------------------------------------------------------*/

.pagination-wrap {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.pagination {
  height: 35px;
  position: relative;
  left: 50%;
  overflow: auto;
  width: 100%;
  li {
    float: left;
    height: 35px;
    line-height: 35px;
    display: inline;
    a, span {
      padding: 0 5px;
      font-size: 14px;
    }
  }
  span.current {
    color: #ed4e8b;
  }
}



/* == common list style 
-----------------------------------------------------*/

.list {
  padding: 10px 10px;
  li {
    padding: 0 0 5px 0;
  }
}

.small {
  width: 60px;
}

.no-repo {
  margin: 5px 15px;
}

/* == dialog
----------------------------------------------------*/
.modal .header-wrap, .modal .wrap, .modal .footer-wrap, .blur {
  @include blur(2px);
}

/* == loading
---------------------------------------------------*/

#loading {
  position: absolute;
  left: 50%;
  top: -2px;
  z-index:9999;
  margin-left: -50px;
  width:100px;
  height:35px;
  background:$vivid;
  @include radius(3px);
  text-align:center;
  color:#fff;
  font-size:14px;
  display:none;
  span{
	line-height:35px;
  }
}


/* == Blog
--------------------------------------------------------*/

.tip {
  @include radius(3px);
  border: 1px solid #ececec;
  background: #fff;
  position: relative;
  .arrow1,.arrow2 {
    width: 12px;
    font-family: "SimSun";
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    height: 10px;
    position: absolute;
    top: -9px;
    left: 25px;
    color: #ececec;
  }
  .arrow1 {}
  .arrow2 {
    top: -7px;
    left: 25px;
    color: #fff;
  }
}

.blog {
  border: 1px solid #ececec;
  margin: 10px;
  @include radius(3px);
  h4 {
    padding-left: 10px;
  }
}

/* tab导航 */
.ui-tab-trigger {
  border-bottom: 1px solid #CCC;
  padding: 5px 10px 0;
  font-size: 0;
}

.ui-tab-trigger-item {
  font-size: 14px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 0 10px;
  margin: 0 10px -1px 0;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.1);
  outline-offset: -3px;
  /* firefox 阴影导致焦点框扩大 */
  border-top: 3px solid #F5F5F5;
  _position: relative;
  word-wrap: normal;
  white-space: nowrap;
}

.ui-tab-trigger-item:hover {
  border-top-color: $vivid;
}

.ui-tab-trigger-item-current {
  background: #FFF;
  border-style: solid;
  border-width: 3px 1px 1px;
  border-color: $vivid #cccccc white;
  box-shadow: none;
  outline-offset: 0;
}

.ui-tab-trigger-item-current:hover {
  background: #FFF;
  color: $vivid;
}

#signin-tip {
  color: $vivid;
}

/* ==inline edit
----------------------------------------------------*/
.editable {
  width: 80%;
  @include radius(3px);
  textarea {
    min-height: 40px;
  }
}

.node-editable {
  cursor: pointer;
  &::before {
    content: '[点击编辑]';
    margin-right: 10px;
    background: yellow;
    cursor: pointer;
  }
}

#home {
  position: fixed;
  bottom: 15px;
  /* right:calc(50% - 500px);
  right:-webkit-calc(50% - 500px);
  right:-moz-calc(50% - 500px); */
  left: 50%;
  margin-left: 500px;
}

.long-ago-topic-tip {
  //background: #ffffc0;
  background:#FFF1B4;
  padding: 10px 15px;
  display: none;
  border-bottom: 1px solid #ececec;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  color:#000;
  border-bottom:1px solid #ddd;
}

.node-tip {
  min-height: 60px;
  position: absolute;
  left: 0;
  top: 26px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  width: 200px;
  border: 2px solid #ccc;
  @include radius(4px);
  .tip-content {
    position: relative;
    height: 100%;
    img {
      float: left;
    }
    .arrow1,.arrow2 {
      position: absolute;
      top: -10px;
      left: 10px;
      font-size: 12px;
    }
    .arrow1 {
      color: #ccc;
    }
    .arrow2 {
      color: #fff;
      top: -7px;
    }
    .node-name {
      padding: 5px;
      font-size: 14px;
      color: #666;
      b {
        font-size: 12px;
        display: inline;
      }
    }
    .node-intro {
      padding: 5px;
    }
  }
}

#file-upload {
  z-index: 9999;
  position: absolute;
  height: 20px;
  width: 25px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

#preview {
  display: none;
  padding: 10px;
  border-top: 1px solid #ececec;
  img {
    border: 1px solid #ccc;
    display: block;
    width: 50px;
    height: 50px;
  }
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    .finish {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -12px;
      left: 15px;
      color: green;
      cursor: auto;
      opacity: 0;
    }
  }
  .upload-progress-wrap {
    width: 100%;
    height: 4px;
    display: block;
    margin-top: 3px;
    background: #ececec;
    @include radius(2px);
  }
  .upload-progress {
    background: green;
    width: 30%;
    height: 4px;
    display: block;
    margin-top: 3px;
    @include radius(2px);
  }
}

.oauth-qq {
  padding: 10px;
  >img {
    display: block;
    float: left;
  }
  >form {
    padding-left: 20px;
    overflow: hidden;
    label {
      display: block;
      margin: 5px 0;
    }
    small {
      display: block;
      color: $vivid;
    }
    input {
      margin: 10px 0;
      padding-left: 5px;
      &.error {
        color: $vivid;
      }
    }
    input[type="submit"] {
      background: $vivid;
      border: none;
      color: #fff;
      padding-left: 0;
    }
  }
}


td strong {
  background:$vivid;
  color:#fff;
  font-size:12px;
  font-weight:normal;
  padding:2px;
  @include radius(2px);
}

.admin-list {
  color:#000;
  padding:0 10px 0 0;
}

.choose-tip {
  font-size:16px;
  text-align:center;
  color:$vivid;
  font-family:宋体;
  padding:10px 0;
  background:#fdfdfd;
  border-bottom:1px solid $vivid;
}

#online {
  background:$vivid;
  @include radius(2px);
  color:#fff;
  text-shadow:none;
}

.topic-list li p.cm-content{
  font-size:14px;
  color:#000;
}

#desktop-notification {
  display:none;
}