{include file="header.html"}
<div class="content box">
<h2><span class="title">{$_['find password']}</span></h2>
<form action='/api/user/0/forget_pwd' method="post" class="form">
	<ul>
		<li>
			<p class="center-txt">{$_['forget password tip']}<br/><br/></p>
			<p class="center-txt hidden">{$_['forget password tip 2']}<br/><br/></p>
			<label for="email">{$_['email']}</label>
			<input type="email" id="email" name="email">
		</li>
		<li>
			<label for="">&nbsp;</label><input type="submit" value="{$_['confirm']}" class="vivid-button" id="JS_forget_password">	
		</li>
	</ul>		
</form>
</div>
<div class="sidebar">
{include file="login_box.html"}
</div>
{include file="footer.html"}