{include file="header.html"}
<div class="content box">
<h2><span class="title">{$_['reset password']}</span></h2>
<form action='/api/user/0/reset_pwd' method="post" class="form">
	<ul>
		<li>
			<label for="pwd1">{$_['newpwd']}</label>
			<input type="password" id="pwd1" name="pwd1">
		</li>
		<li>
			<label for="pwd2">{$_['confirm password']}</label>
			<input type="password" id="pwd2" name="pwd2">
		</li>
		<li>
			<label for="">&nbsp;</label>
			<input type="submit" value="{$_['confirm']}" class="vivid-button" id="JS_reset_password">	
		</li>
	</ul>		
</form>
</div>
<div class="sidebar">
{include file="login_box.html"}
</div>
{include file="footer.html"}